
{% extends "_base.html" %}


{% block content %}

<div class="container">
    <div class="row mt-3">  
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">GST Details <span class="header_ text-capitalize text-danger">( <span >Sales</span> )</span>

                <div class="d-flex float-end">
                    <div class="form-check me-3">
                        <input class="form-check-input check_gst" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="sales" checked>
                        <label class="form-check-label fa-14" for="flexRadioDefault1">
                          Sales
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input check_gst" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="purchase" >
                        <label class="form-check-label fa-14" for="flexRadioDefault2">
                          Purchase
                        </label>
                    </div>
                </div>

            </h5>

        </div>
    </div>

    <div class="row sales mx-0">
        <div class="box-1 rounded bg-white mt-2 p-3 ">
            <table id="example" class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Voucher Particles</th>
                        <th>GST Info</th>
                        <th>CGST & SGST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <div>Voucher No: <span class="text-blue">#12312343412332</span></div>
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div><b>MATERIAL NAME 1</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 2</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 3</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </td>
                        <td>
                            <div><b>GSTIN/UIN : </b><span>Gst in details</span></div>
                            <div><b>Narration : </b><span>Some value</span></div>
                            <div><b>Value : </b><span>324234</span></div>
                            <div><b>Gross Total : </b><span>500</span></div>
                        </td>
                        <td>
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div>Voucher No: <span class="text-blue">#12312343412332</span></div>
                            <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div><b>MATERIAL NAME 1</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 2</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 3</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </td>
                        <td>
                            <div><b>GSTIN/UIN : </b><span>Gst in details</span></div>
                            <div><b>Narration : </b><span>Some value</span></div>
                            <div><b>Value : </b><span>324234</span></div>
                            <div><b>Gross Total : </b><span>500</span></div>
                        </td>
                        <td>
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div>Voucher No: <span class="text-blue">#12312343412332</span></div>
                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div><b>MATERIAL NAME 1</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 2</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 3</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </td>
                        <td>
                            <div><b>GSTIN/UIN : </b><span>Gst in details</span></div>
                            <div><b>Narration : </b><span>Some value</span></div>
                            <div><b>Value : </b><span>324234</span></div>
                            <div><b>Gross Total : </b><span>500</span></div>
                        </td>
                        <td>
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div>Voucher No: <span class="text-blue">#12312343412332</span></div>
                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div><b>MATERIAL NAME 1</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 2</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 3</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </td>
                        <td>
                            <div><b>GSTIN/UIN : </b><span>Gst in details</span></div>
                            <div><b>Narration : </b><span>Some value</span></div>
                            <div><b>Value : </b><span>324234</span></div>
                            <div><b>Gross Total : </b><span>500</span></div>
                        </td>
                        <td>
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div>Voucher No: <span class="text-blue">#12312343412332</span></div>
                            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <div><b>MATERIAL NAME 1</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 2</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                  <div class="carousel-item">
                                    <div><b>MATERIAL NAME 3</b></div>
                                    <div><b>Qty : </b><span>5</span></div>
                                    <b>Amount : </b><span>500</span>
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                        </td>
                        <td>
                            <div><b>GSTIN/UIN : </b><span>Gst in details</span></div>
                            <div><b>Narration : </b><span>Some value</span></div>
                            <div><b>Value : </b><span>324234</span></div>
                            <div><b>Gross Total : </b><span>500</span></div>
                        </td>
                        <td>
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row purchases d-none mx-0">
        <div class="box-1 rounded bg-white mt-2 p-3 ">
            <table id="example1" class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Sales Info</th>
                        <th>Purchase Inv No</th>
                        <th>Lorry Info</th>
                        <th>CGST & SGST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <div><b>Vendor Name : </b> <span class="text-blue">Vendor Name</span></div>
                            <div><b>Vendor Address : </b> <span>2, Kalaingar street, mgr nagar</span></div>
                            <div><span >Tamilnadu, Chennai - 113</span></div>
                            <div><b>Date : </b><span>20-12-2021</span></div>
                        </td>
                        <td>
                            <div><b>PUR INV No : </b><span>3242343242342</span></div>
                            <div><b>HSN Code : </b><span>324234324234</span></div>
                            <div><b>GSTIN/UIN : </b><span>324234324234</span></div>
                            <div><b>Purchase Value : </b><span>324234324234</span></div>
                        </td>
                        <td>
                            <div><b>Total Purchase : </b><span>2334287</span></div>
                            <div><b>Purchase Value Lorry : </b><span>2334287</span></div>
                            <div><b>Lorry Owners DUE : </b><span>2334287</span></div>
                        </td>
                        <td >
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div><b>Vendor Name : </b> <span class="text-blue">Vendor Name</span></div>
                            <div><b>Vendor Address : </b> <span>2, Kalaingar street, mgr nagar</span></div>
                            <div><span >Tamilnadu, Chennai - 113</span></div>
                            <div><b>Date : </b><span>20-12-2021</span></div>
                        </td>
                        <td>
                            <div><b>PUR INV No : </b><span>3242343242342</span></div>
                            <div><b>HSN Code : </b><span>324234324234</span></div>
                            <div><b>GSTIN/UIN : </b><span>324234324234</span></div>
                            <div><b>Purchase Value : </b><span>324234324234</span></div>
                        </td>
                        <td>
                            <div><b>Total Purchase : </b><span>2334287</span></div>
                            <div><b>Purchase Value Lorry : </b><span>2334287</span></div>
                            <div><b>Lorry Owners DUE : </b><span>2334287</span></div>
                        </td>
                        <td >
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <div><b>Vendor Name : </b> <span class="text-blue">Vendor Name</span></div>
                            <div><b>Vendor Address : </b> <span>2, Kalaingar street, mgr nagar</span></div>
                            <div><span >Tamilnadu, Chennai - 113</span></div>
                            <div><b>Date : </b><span>20-12-2021</span></div>
                        </td>
                        <td>
                            <div><b>PUR INV No : </b><span>3242343242342</span></div>
                            <div><b>HSN Code : </b><span>324234324234</span></div>
                            <div><b>GSTIN/UIN : </b><span>324234324234</span></div>
                            <div><b>Purchase Value : </b><span>324234324234</span></div>
                        </td>
                        <td>
                            <div><b>Total Purchase : </b><span>2334287</span></div>
                            <div><b>Purchase Value Lorry : </b><span>2334287</span></div>
                            <div><b>Lorry Owners DUE : </b><span>2334287</span></div>
                        </td>
                        <td >
                            <div><b>OP CGST</b> - <span>2.5%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>2.5%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                            <div><b>OP CGST</b> - <span>9%</span> : <b class="text-success">23%</b> <b>OP SGST</b> - <span>9%</span> : <b class="text-success">23%</b></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>



{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $('.gstMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')


            $('#example, #example1').DataTable()

            $('.deleteForUser').click(function(e){
                e.preventDefault()
                if (confirm('Are you sure you want to delete?')) {

                    var _obj = JSON.stringify({'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                    var params = {
                        "Notifications": _obj,
                        'csrfmiddlewaretoken': csrftoken,
                        'Types': $(this).attr('data-method'),
                        'User': $('#userid').html()
                    }
                    // console.log(params)
                    $.post(base+'post-api/notifications/', params, function(req, res){
                        console.log(req)
                        console.log(res)
                    })

                } 
            })


            $('input[name="flexRadioDefault"]').click(function(){
                var val = $(this).val()
                $('.header_ span').text(val)
                console.log(val)
                if(val == 'sales'){
                    $('.header_').addClass('text-danger').removeClass('text-success')
                    $('.sales').removeClass('d-none')
                    $('.purchases').addClass('d-none')
                }else{
                    $('.header_').addClass('text-success').removeClass('text-danger')
                    $('.sales').addClass('d-none')
                    $('.purchases').removeClass('d-none')
                }
            });

        })
    </script>
{% endblock %})