<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>Bootstrap 5 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <div class="container-fluid py-4 bg-primary text-white text-center">
    <h1 class="fw-bold text-uppercase">Hari Agency</h1>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        {% if request.user.is_authenticated %}
        <form action="" method="post">
          {% csrf_token %}
          <p>Are you sure you want to logout ?</p>
          <button type="submit" class="btn btn-primary w-100">Yes, Sure</button>
        </form>
        {% else %}
        <div>
          You not logged in. You want to <a href="/">login?</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>