{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Sales Invoice
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <a href="{% url 'sales' %}" class="btn btn-danger">Sales</a>
                    <a href="{% url 'salesvoucher' %}" class="btn btn-primary">Voucher</a>
                </div>
            </h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <a href="{% url 'sales-invoice-add' %}" class="btn btn-sm btn-primary float-end " id="agency"><i
                        class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr>
                            <th scope="col" style="width: 30%;">Invoice Info</th>
                            <th scope="col" style="width: 23%;">Sales Company</th>
                            <th scope="col" style="width:24%;">Price & GST</th>
                            <th scope="col">Bank Details</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <b>Invoice No : </b>
                                    <span>239874789234</span>
                                    <span class="float-end text-blue"><i class="fa fa-calendar"></i> 26-sep-2020</span>
                                </div>
                                <div>
                                    <b>Other Reference(s) : </b><span>NIL</span>
                                </div>
                                <div>
                                    <b>Supplier's Ref : </b><span>LHF/21-22/214</span>

                                </div>
                                <div>
                                    <b>Mode/Terms Of Payment : </b><span>15 Days</span>
                                </div>
                                <div>
                                    <b>Buyer's Order No : </b><span class="text-blue">( 11-sep-2021 )</span>
                                </div>
                                <div>
                                    <b>Despatch Document No : </b><span>NIL</span>

                                </div>
                                <div>
                                    <b>Despatch through : </b><span>ROAD</span>
                                </div>
                                <div>
                                    <b>Destination : </b><span>NIL</span>
                                    <b class="ms-2">Delivery Note : </b><span>NIL</span>
                                </div>
                            </td>
                            <td>
                                <div class="small">Buyer</div>
                                <div class="fw-bold">ALLIANCE BUSINESS PARKS PVT LTD</div>
                                <div>No: 36/1, Plot no. A, Kotturpuram, Chennai, Tamilnadu - 113</div>
                                <div>
                                    <b>GSTIN/UIN : </b><span>8734SJDGHSA32442</span>
                                </div>
                                <div>
                                    <b>PAN/IT NO : </b><span>234987237894</span>
                                </div>
                                <div>
                                    <b>State Name : </b><span>Tamilnadu</span>
                                    <b class="ms-2">Code : </b><span>33</span>
                                </div>
                            </td>
                            <td>
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="text-uppercase text-success">AAC BROKAN BLOCKS</div>
                                            <div class="small"><b>DC NO : 3010/29-09-2021</b></div>
                                            <div>
                                                <b>HSN/SAC : </b><span>05050505</span>
                                                <b class="ms-2">Qty : </b><span>10.40 MT</span>
                                            </div>
                                            <div>
                                                <b>Rate : </b><span>2,300.00</span>
                                                <b class="ms-2">Amount : </b><span>24,012.00</span>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="text-uppercase text-success">AAC BROKAN BLOCKS 1</div>
                                            <div class="small"><b>DC NO : 3010/29-09-2021</b></div>
                                            <div>
                                                <b>HSN/SAC : </b><span>05050505</span>
                                                <b class="ms-2">Qty : </b><span>10.40 MT</span>
                                            </div>
                                            <div>
                                                <b>Rate : </b><span>2,300.00</span>
                                                <b class="ms-2">Amount : </b><span>24,012.00</span>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="text-uppercase text-success">AAC BROKAN BLOCKS 1</div>
                                            <div class="small"><b>DC NO : 3010/29-09-2021</b></div>
                                            <div>
                                                <b>HSN/SAC : </b><span>05050505</span>
                                                <b class="ms-2">Qty : </b><span>10.40 MT</span>
                                            </div>
                                            <div>
                                                <b>Rate : </b><span>2,300.00</span>
                                                <b class="ms-2">Amount : </b><span>24,012.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <div class="small">
                                    <div><b>2.5% CGST OP TAX : </b> <span>2.50%</span> <b>600.30</b></div>
                                    <div><b>2.5% SGST OP TAX : </b> <span>2.50%</span> <b>600.30</b></div>
                                    <div><b>ROUNDED OFF : <b>0.40 </div>
                                    <div><b class="text-danger">TOTAL : </b>25,213.00</div>
                                </div>
                            </td>
                            <td>
                                <div><b>Bank : </b><span>INDIAN BANK</span></div>
                                <div><b>A/C No : </b><span>34895778349</span></div>
                                <div><b>Branch : </b><span>Pallavaram </span></div>
                                <div><b>IFSC : </b><span>IDIB000PO12</span></div>
                            </td>
                            <td>
                                <a href="{{i.id}}" class="me-2 text-success add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="invoice" tabindex="-1" aria-labelledby="invoiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" id="final_invoice">
                <h6 class="text-center fw-bold mb-3">TAX INVOICE 2021/2022</h6>
                <p class="position-absolute top-0 end-0 mt-3 me-3">(DUPLICATE FOR TRANSPORTER)</p>
                <table class="table table-bordered mb-0">
                    <tr>
                        <td width="30%">
                            <p class="mb-0">KAVITHA AGENCY</p>
                            <p class="mb-0">No. 3/46-C Semman Street,</p>
                            <p class="mb-1">C.Pallavaram, Chennai - 600 043.</p>
                            <p class="mb-0"><span class="fw-bold">CELL : </span>9791023871</p>
                            <p class="mb-0"><span class="fw-bold">GSTIN/UIN : </span>CIHPK2333K1ZD</p>
                            <p class="mb-0"><span class="fw-bold">State Name : </span>Tamil Nadu, <span
                                    class="ms-2 fw-bold">Code : </span>33</p>
                            <p class="mb-0"></p>
                            <p class="mb-0"><span class="fw-bold">E-Mail : </span>kavithaagency@gmail.com</p>
                        </td>
                        <td width="25%" class="px-0">
                            <p class="mb-0 mx-2">Invoice No.</p>
                            <p class="mb-0 mx-2 fw-bold">105/2021-2022</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Delivery Note</p>
                            <p class="mb-0 mx-2">NIL</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Supplier's Ref.</p>
                            <p class="mb-0 mx-2 fw-bold">LHE/21-22/214</p>
                        </td>
                        <td width="25%" class="px-0">
                            <p class="mb-0 mx-2">Dated</p>
                            <p class="mb-0 mx-2 fw-bold">29-Sep-2021</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Other Reference(s)</p>
                            <p class="mb-0 mx-2">NIL</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Mode/Terms of Payment</p>
                            <p class="mb-0 mx-2 fw-bold">15 Days</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" style="border-bottom-style: hidden;" class="pb-0">
                            <div>Buyer</div>
                            <div>ALLIANCE BUSINESS PARKS PVT LTD</div>
                            <div>NO.36/1, PLOT NO.A,</div>
                            <div>GANDHI MANDAPAM MAIN ROAD</div>
                            <div>KOTTURPURAM, CHENNAI,</div>
                            <div>TAMIL NADU - 600085.</div>
                        </td>
                        <td width="25%" class="px-0">
                            <div class="mx-2"><b>Buyer's Order No: </b></div>
                            <div class="mx-2">PO2122AGR-441</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Despatch Document No : </b>NIL</div>
                            <hr class="my-1">
                            <div class="mb-0 mx-2"><b>Despatched through : </b>ROAD</div>
                        </td>
                        <td width="25%" class="px-0">
                            <div class="mx-2"><b>Date :</b> 11-Sep-2021</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Delivery Note : </b></div>
                            <div class="mx-2">NIL</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Destination : </b>NIL</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-0">
                            <div class="mb-0"><span class="fw-bold me-2">GSTIN/UIN : </span>33AAFCA5595G1ZM</div>
                            <div class="mb-0"><span class="fw-bold me-2">PAN/IT No : </span>Tamil Nadu</div>
                            <div class="mb-0"><span class="fw-bold me-2">State Name : </span>Tamil Nadu, <span
                                    class="ms-2 fw-bold me-2">Code : </span>33</div>
                        </td>
                        <td colspan="2">
                            <p class="mb-0 fw-bold">Terms of Delivery</p>
                            <p class="mb-0">Alliance Galleria Residences</p>
                            <div>Survey No : 200/04, 200 Feet Radial Road, Zamin Pallavaram, Chennai-600 043</div>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered mb-0 ">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Description of Goods</th>
                            <th>HSN/SAC</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>per</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mb-4">
                            <td>1</td>
                            <td>AAC BROKAN BLOCKS</td>
                            <td>05050505</td>
                            <td>10.440 MT</td>
                            <td>2,300.00</td>
                            <td>MT</td>
                            <td>24,012.00</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="text-end fw-bold">
                                    <div>2.5%-CGST-OUTPUT TAX</div>
                                    <div>2.5%-SGST-OUTPUT TAX</div>
                                    <div>ROUNDED OFF</div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    <div>2.50</div>
                                    <div>2.50</div>
                                </div>
                            </td>
                            <td>
                                <div>%</div>
                                <div>%</div>
                            </td>
                            <td>
                                <div class="text-end">
                                    <div>600.30</div>
                                    <div>600.30</div>
                                    <div>600.30</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td>10.440 MT</td>
                            <td></td>
                            <td></td>
                            <td> *25,213.00</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div>
                                    <div><small>Amount Chargeable (in words)</small> <span class="float-end">E &
                                            O.E</span></div>
                                    <div class="fw-bold">INR Twenty Five Thousand Two Hundred Thirteen Only</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered border-top-0 mb-0 table-sm">
                    <tr class="text-center fw-bold">
                        <td>HSN/SAC</td>
                        <td>Taxable Value</td>
                        <td colspan="2">Central Tax</td>
                        <td colspan="2">State Tax</td>
                        <td>Total</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>

                        <td>Rate</td>
                        <td>Amount</td>
                        <td>Rate</td>
                        <td>Amount</td>
                        <td>Tax Amount</td>
                    </tr>
                    <tr>
                        <td>8723468723</td>
                        <td>24,123.00</td>
                        <td>2.50%</td>
                        <td>600.30</td>
                        <td>2.50%</td>
                        <td>600.30</td>
                        <td>1,200.60</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-end">Total</td>
                        <td>24,123.00</td>
                        <td></td>
                        <td>600.30</td>
                        <td></td>
                        <td>600.30</td>
                        <td>1,200.60</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div>
                                <span>Tax Amount (in words) : </span><b>INR One Thousand Two Hundred Thirteen Only</b>
                            </div>
                            <div>
                                <b>Remarks :</b>
                                <div>BEING THE INVOICE NUMBER : 105 / 2021-2022 / INVOICE</div>
                                <div>DATE : <span>29.09.2021</span> ALLIANCE BUSINESS PARKS PVT LTD</div>
                                <div>ACCOUNTED</div>
                            </div>
                            <div>
                                <span>Company's VAT TIN : </span><b>32748324987</b>
                            </div>
                            <div>
                                <span>Buyer's VAT TIN : </span><b>32748324987</b>
                            </div>
                            <div>
                                <span>Company's PAN : </span><b>32748324987</b>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width:50%;">
                            <div>
                                <u>Declaration</u>
                                <div>
                                    We declare that this invoice shows the actual price of the goods described
                                    and that all particulars are true and correct.
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div>Company's Bank Details</div>
                            <div><b>Bank Name : </b> <span>INDIAN BANK</span></div>
                            <div><b>A/C No : </b> <span>673499345</span></div>
                            <div><b>Branch & IFSC : </b> <span>PALLAVARAM</span> & <span>IDB98324</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width:50%;">
                            <div>
                                Customer's Seal and Signature
                            </div>
                            <br><br>
                        </td>
                        <td colspan="3" class="text-center">
                            <div>for KAVITHA AGENCY</div>
                            <div class="mt-5">Authorised Signature</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i
                        class="fa fa-close"></i></button>
                <button type="button" class="btn btn-sm btn-primary" onclick="printDiv('final_invoice')"><i
                        class="fa fa-print me-2"></i>Print</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

<script>
    $('.invoiceMenu').addClass('active')
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    window.onafterprint = function () {
        window.location.reload()
    }
</script>
<style type="text/css" media="print">
    @media print {
        @page {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            padding-top: 72px;
            padding-bottom: 72px;
        }
    }
</style>
{% endblock %})