{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row mx-2 mb-4">
    <div class="col-12">
        <a href="{% url 'quotations' %}" class="btn btn-sm my-2 ps-0"><i class="fa fa-chevron-left"
                aria-hidden="true"></i>
            Back</a>
    </div>

    <div class="col-4 h-100">
        <!-- Sales info -->
        <div class="card p-3">
            <h6>Company Info</h6>
            <hr class="mt-0 mb-2">
            <p class="mb-2"><span class="fw-bold">Company Name : </span>Vingsfire</p>
            <p class="mb-2"><span class="fw-bold">Branch : </span>Tharamani</p>
            <p class="mb-2"><span class="fw-bold">Customer Name : </span>Surendar</p>
            <p class="mb-2"><span class="fw-bold">Invoice URL : </span>www.google.com</p>
            <p class="mb-2"><span class="fw-bold">Payment URL : </span>www.google.com</p>
            <p class="mb-2"><span class="fw-bold">Unloading Place : </span>pallavaram</p>
            <p class="mb-2"><span class="fw-bold">Owner House : </span>rayapuram</p>
            <p class="mb-2"><span class="fw-bold">Office Location : </span>kodambakam</p>
            <p class="mb-2"><span class="fw-bold">Other URL : </span>www.google.com</p>
            <p class="mb-1"><span class="fw-bold">Billing address : </span></p>
            <p class="mb-2">Taramani, Chennai - 113, Tamilnadu, India</p>
            <p class="mb-2"><span class="fw-bold">PO Type : </span>Aplicable</p>
            <p class="mb-2"><span class="fw-bold">Order Recived Date : </span>Nov, 30, 2021</p>
            <p class="mb-2"><span class="fw-bold">Expected Delivery Date : </span>Dec, 10, 2021</p>
            <p class="mb-2"><span class="fw-bold">Remarks : </span>Good</p>
        </div>
    </div>

    <div class="col-8 ps-0 h-100">
        <div class="card p-3">
            <h6>Material Info</h6>
            <hr class="mt-0 mb-2">
            <div class="messages d-none mb-2 text-success fw-bold">
                Material Added Successfully. !!!
            </div>
            <div class="row">
                <div class="col-12">
                    <select name="" class="form-control SelectMaterial">
                        <option value="">Select Material</option>
                        {% for i in obj.product_obj %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 ">
                    <table class="table table-striped priceList table-sm mt-2 d-none">
                        <thead class="table-dark ">
                            <tr>
                                <th>Name & Company Name</th>
                                <th>Price</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody id="pricelist">
                        </tbody>
                    </table>
                </div>
                <div class="col-4 mt-1">
                    <label for="" class="small fw-bold">Material Name</label>
                    <input type="hidden" name="Vendor_Id" id="Vendor_Id">
                    <input type="hidden" name="Product_id" id="Product_id">
                    <input type="text" class="form-control" name="Material_Name" id="Material_Name">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Current Price</label>
                    <input type="text" class="form-control" name="Price" id="Price">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Sales Price</label>
                    <input type="text" class="form-control" name="Sales_Price" id="Sales_Price">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Offer Price</label>
                    <input type="text" class="form-control" name="Offer_Price" id="Offer_Price">
                </div>
                <div class="col-1 mt-1 ps-0">
                    <label for="" class="small fw-bold">Qty</label>
                    <input type="text" class="form-control" name="Quantity" id="Quantity">
                </div>
                <div class="col-1 mt-1  ps-0">
                    <label for="" class="small fw-bold">Loads</label>
                    <input type="text" class="form-control" name="No_Of_Load" id="No_Of_Load">
                </div>
                <div class="col-4 mt-1 ">
                    <label for="" class="small fw-bold">Expected Date</label>
                    <input type="date" class="form-control" name="Expected_Date" id="Expected_Date">
                </div>
                <div class="col-4 mt-1 ps-0">
                    <label for="" class="small fw-bold">Quality Material Type</label>
                    <select name="Quality_Material_Type" class="select form-control custom-select"
                        id="id_Quality_Material_Type">
                        <option value="">---------</option>
                        <option value="N">Natural</option>
                        <option value="M">Manufactured</option>
                    </select>
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">HSN Code</label>
                    <input type="text" class="form-control" name="HSNCode" id="HSNCode">
                </div>
                <div class="col-4 mt-1">
                    <label for="" class="small fw-bold">Moisture</label>
                    <select name="Moisture" class="select form-control custom-select" id="id_Moisture">
                        <option value="">---------</option>
                        <option value="">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">Moisture Number</label>
                    <input type="text" class="form-control" name="Moisture_Number" id="Moisture_Number">
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">Material Term</label>
                    <input type="text" class="form-control" name="Material_Term" id="Material_Term">
                </div>
                <div class="col-12 mt-1">
                    <label for="" class="small fw-bold">Others</label>
                    <textarea class="form-control" name="Others" rows="1" id="Others"></textarea>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary mt-2 btn-sm" id="add_materials">Add Material</button>
                </div>
            </div>

            <div class="row materialtable">
                <div class="col-12 ">
                    <h6 class="mt-2">Material List</h6>
                    <table class="table table-striped table-sm mb-2">
                        <thead class="table-dark">
                            <tr>
                                <th>Material Name</th>
                                <th>Vendor</th>
                                <th>Price & Qty</th>
                                <th>Moisture</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="small">

                        </tbody>
                    </table>
                </div>

                <div class="col-12 total">
                    <b>Total Price : </b><span id="totalPrice"></span>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}


{% block script %}
<script>

</script>
{% endblock %}