{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Quotations

            </h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <a href="{% url 'addquotation' %}" class="btn btn-sm btn-primary float-end " id="agency"><i
                        class="fa fa-plus me-1"></i> Add</a>


                <div class="vendors " >
                    <table id="vendor" class="table table-bordered table-striped">
                        <thead class="table-dark text-capitalize">
                            <tr>
                                <th scope="col">Vendor Detail</th>
                                <th scope="col">Balanced</th>
                                <th scope="col">Materials</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <b>Sales : </b> <span>Sales Name</span> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a><br>
                                        <span>( Company Name )</span>
                                    </div>
                                    <div>
                                        <b>Billing : </b> Sales Company GST Address
                                    </div>
                                    <div>
                                        <b>PO Number : </b><span>34985873457</span>
                                    </div>
                                    <div>
                                        <b>Expected Delivery : </b> 25-05-2021
                                    </div>
                                </td>
                                <td>
                                    <ul class="mb-0 ps-3">
                                        <li>Material Name ( 100 - 75 = 25 )</li>
                                        <li>Material Name 1 ( 50 - 40 = 10 )</li>
                                    </ul>
                                </td>
                                <td>
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div>
                                                <div class="fw-bold">Material Name</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div>
                                                <div class="fw-bold">Material Name 1</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div>
                                                <div class="fw-bold">Material Name 2</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#customer_quo">Customer</a>
                                    <a href="" class="ms-2" data-bs-toggle="modal" data-bs-target="#vendor_quo">Vendor</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <b>Sales : </b> <span>Sales Name</span> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a><br>
                                        <span>( Company Name )</span>
                                    </div>
                                    <div>
                                        <b>Billing : </b> Sales Company GST Address
                                    </div>
                                    <div>
                                        <b>PO Number : </b><span>34985873457</span>
                                    </div>
                                    <div>
                                        <b>Expected Delivery : </b> 25-05-2021
                                    </div>
                                </td>
                                <td>
                                    <ul class="mb-0 ps-3">
                                        <li>Material Name ( 100 - 75 = 25 )</li>
                                        <li>Material Name 1 ( 50 - 40 = 10 )</li>
                                    </ul>
                                </td>
                                <td>
                                    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div>
                                                <div class="fw-bold">Material Name</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div>
                                                <div class="fw-bold">Material Name 1</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                          <div class="carousel-item">
                                            <div>
                                                <div class="fw-bold">Material Name 2</div>
                                                <div>
                                                    <b>Vendor : </b><span>Vendor Name </span><b>( Vendor Company Name )</b> <a href="" class="ms-2 text-success"><i class="fa fa-phone"></i></a> <a href="" class="ms-2"><i class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>5</span>
                                                    <b class="ms-2">Load : </b><span>5</span>
                                                    <b class="ms-2">HSN Code : </b><span>324234</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.350</span>
                                                    <b>Offer : </b><span>Rs.450</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> : 
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#customer_quo">Customer</a>
                                    <a href="" class="ms-2" data-bs-toggle="modal" data-bs-target="#vendor_quo">Vendor</a>
                                </td>    
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


  
<!-- Modal -->
<div class="modal fade" id="vendor_quo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-body">
            <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active ">
                    <div class="float-end">
                        <b>Date : </b><span>25-02-2021</span>
                    </div>
                    <div>
                        <b>TO ,</b>
                        <div>Mr. Vendo 1</div>
                        <div>Vendor POsition</div>
                        <div>Vendor Company Name </div>
                        <div>Vendor Location</div>
                    </div>

                    <div class="mt-3">
                        <b>Subject : </b> <span>QUOTATION for your inquirey for supply of building basic material.</span>
                    </div>

                    <div class="mt-2">
                        <b>Dear Sir ,</b>
                        <div>We are pleased to provide following quote of various material requirements for your site.</div>
                    </div>

                    <table class="table table-bordered mt-3 mb-0">
                        <thead>
                            <tr>
                                <th>MATERIAL</th>
                                <th>HSN CODE</th>
                                <th>QUALITY & RATE</th>
                                <th>DELIVERY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                            <tr>
                                <td>12MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <b>Other terms and conditions</b>
                        <ol>
                            <li>SGST (extra) will be applicable & CGST (extra) will be applicable.</li>
                            <li>The quotation is valied for 7 days only.</li>
                            <li>Payment within 30 days credit limit from the date of billing.</li>
                            <li>Check the quality and quantity of material before unloading , at time and issue the material receipt or delivery note at site.</li>
                            <li>All disputes subject to chennai jurisdiction only.</li>
                        </ol>
                    </div>

                    <div class="mt-5 text-end">
                        Thank You,
                        <div class="my-4"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="float-end">
                        <b>Date : </b><span>25-02-2021</span>
                    </div>
                    <div>
                        <b>TO ,</b>
                        <div>Mr. Vendo 1</div>
                        <div>Vendor POsition</div>
                        <div>Vendor Company Name </div>
                        <div>Vendor Location</div>
                    </div>

                    <div class="mt-3">
                        <b>Subject : </b> <span>QUOTATION for your inquirey for supply of building basic material.</span>
                    </div>

                    <div class="mt-2">
                        <b>Dear Sir ,</b>
                        <div>We are pleased to provide following quote of various material requirements for your site.</div>
                    </div>

                    <table class="table table-bordered mt-3 mb-0">
                        <thead>
                            <tr>
                                <th>MATERIAL</th>
                                <th>HSN CODE</th>
                                <th>QUALITY & RATE</th>
                                <th>DELIVERY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                            <tr>
                                <td>12MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <b>Other terms and conditions</b>
                        <ol>
                            <li>SGST (extra) will be applicable & CGST (extra) will be applicable.</li>
                            <li>The quotation is valied for 7 days only.</li>
                            <li>Payment within 30 days credit limit from the date of billing.</li>
                            <li>Check the quality and quantity of material before unloading , at time and issue the material receipt or delivery note at site.</li>
                            <li>All disputes subject to chennai jurisdiction only.</li>
                        </ol>
                    </div>

                    <div class="mt-5 text-end">
                        Thank You,
                        <div class="my-4"></div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="float-end">
                        <b>Date : </b><span>25-02-2021</span>
                    </div>
                    <div>
                        <b>TO ,</b>
                        <div>Mr. Vendo 1</div>
                        <div>Vendor POsition</div>
                        <div>Vendor Company Name </div>
                        <div>Vendor Location</div>
                    </div>

                    <div class="mt-3">
                        <b>Subject : </b> <span>QUOTATION for your inquirey for supply of building basic material.</span>
                    </div>

                    <div class="mt-2">
                        <b>Dear Sir ,</b>
                        <div>We are pleased to provide following quote of various material requirements for your site.</div>
                    </div>

                    <table class="table table-bordered mt-3 mb-0">
                        <thead>
                            <tr>
                                <th>MATERIAL</th>
                                <th>HSN CODE</th>
                                <th>QUALITY & RATE</th>
                                <th>DELIVERY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                            <tr>
                                <td>12MM Aggregate</td>
                                <td>6374</td>
                                <td>1 MT Rs. 735.00</td>
                                <td>AT SITE</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <b>Other terms and conditions</b>
                        <ol>
                            <li>SGST (extra) will be applicable & CGST (extra) will be applicable.</li>
                            <li>The quotation is valied for 7 days only.</li>
                            <li>Payment within 30 days credit limit from the date of billing.</li>
                            <li>Check the quality and quantity of material before unloading , at time and issue the material receipt or delivery note at site.</li>
                            <li>All disputes subject to chennai jurisdiction only.</li>
                        </ol>
                    </div>

                    <div class="mt-5 text-end">
                        Thank You,
                        <div class="my-4"></div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i class="fa fa-close"></i></button>
            <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-print me-2"></i> PRINT</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="customer_quo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-body">


            <div class="float-end">
                <b>Date : </b><span>25-02-2021</span>
            </div>
            <div>
                <b>TO ,</b>
                <div>Mr. Vendo 1</div>
                <div>Vendor POsition</div>
                <div>Vendor Company Name </div>
                <div>Vendor Location</div>
            </div>

            <div class="mt-3">
                <b>Subject : </b> <span>QUOTATION for your inquirey for supply of building basic material.</span>
            </div>

            <div class="mt-2">
                <b>Dear Sir ,</b>
                <div>We are pleased to provide following quote of various material requirements for your site.</div>
            </div>

            <table class="table table-bordered mt-3 mb-0">
                <thead>
                    <tr>
                        <th>MATERIAL</th>
                        <th>HSN CODE</th>
                        <th>QUALITY & RATE</th>
                        <th>DELIVERY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6MM Aggregate</td>
                        <td>6374</td>
                        <td>1 MT Rs. 735.00</td>
                        <td>AT SITE</td>
                    </tr>
                    <tr>
                        <td>6MM Aggregate</td>
                        <td>6374</td>
                        <td>1 MT Rs. 735.00</td>
                        <td>AT SITE</td>
                    </tr>
                    <tr>
                        <td>12MM Aggregate</td>
                        <td>6374</td>
                        <td>1 MT Rs. 735.00</td>
                        <td>AT SITE</td>
                    </tr>
                    <tr>
                        <td>12MM Aggregate</td>
                        <td>6374</td>
                        <td>1 MT Rs. 735.00</td>
                        <td>AT SITE</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-3">
                <b>Other terms and conditions</b>
                <ol>
                    <li>SGST (extra) will be applicable & CGST (extra) will be applicable.</li>
                    <li>The quotation is valied for 7 days only.</li>
                    <li>Payment within 30 days credit limit from the date of billing.</li>
                    <li>Check the quality and quantity of material before unloading , at time and issue the material receipt or delivery note at site.</li>
                    <li>All disputes subject to chennai jurisdiction only.</li>
                </ol>
            </div>

            <div class="mt-5 text-end">
                Thank You,
                <div class="my-4"></div>
            </div>


        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="fa fa-close"></i></button>
            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-print me-2"></i> PRINT</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

<script>
    $('.quotationMenu').addClass('active')
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#sales, #vendor').DataTable()

    $('.quo_download').click(function () {
        doc.fromHTML($('#final_quotation').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    });

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    window.onafterprint = function () {
        window.location.reload()
    }
</script>
<style type="text/css" media="print">
    @media print {
        @page {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            padding-top: 72px;
            padding-bottom: 72px;
        }
    }
</style>
{% endblock %})