
{% extends "_base.html" %}


{% block content %}
<div class="container">
    <div class="row mt-3">  
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Products</h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <a  class="btn btn-sm btn-primary float-end " id="agency" ><i class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr >
                            <th scope="col">Product & Company Detail</th>
                            <th scope="col">Location</th>
                            <th scope="col">Price & GST</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.product_obj %}
                            <tr class="row_{{i.id}}">
                                <td class="text-capitalize">
                                    <div class="fw-bold">{{i.Product}}</div>
                                    <div>
                                        <span>{{i.Vendor.Vendor_Name}}</span> 
                                        <span>( {{i.Vendor.Company_Name}} )</span>
                                        <a class="ms-2" href="tel:{{i.Vendor.Phone}}"><i class="fa fa-phone"></i></a>
                                        <a class="ms-1 text-danger" href="mailto:{{i.Vendor.Email}}"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <i class="fa fa-map-marker text-success" ></i> : {{i.Vendor.Address}}, {{i.Vendor.City}} - {{i.Vendor.Zip}}, <br>
                                    {{i.Vendor.State}}, {{i.Vendor.Country}}
                                </td>
                                <td>
                                    <span class="me-1">Rs.{{i.Price}}</span> ( <b>GST : </b>{{i.GST}} )
                                </td> 
                                <td>
                                    <a href="{{i.id}}" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#add_agency" data-bs-whatever="{{i.id}}"><i class="fa fa-lg fa-edit"></i></a>
                                    {% if user.is_superuser %}
                                        <a href="{{i.id}}" class="text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="{{i.id}}"><i class="fa fa-lg fa-trash"></i></a>
                                    {% else %}
                                        <a href="{{i.id}}" class="text-danger deleteForUser" data-method="Delete" data-url="products"><i class="fa fa-lg fa-trash"></i></a>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="add_agency" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-header py-2 border-0">
          <h5 class="modal-title header" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-1 pb-4">
            <form class="row agency-validation" novalidate>
                <div class="col-12">
                    <div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert">

                    </div>
                </div>

                <div class="col-md-12">
                  <label for="vname" class="form-label fw-bolder">Material Name</label>
                  <input type="text" class="form-control" id="vname" placeholder="Enter Material Name." required>
                  <div class="invalid-feedback">
                    Please provide a material name.
                  </div>
                </div>
                <div class="col-md-6 mt-2 pe-2">
                    <label for="vprice" class="form-label fw-bolder">Price</label>
                    <input type="text" class="form-control" id="vprice" placeholder="Enter Price." required>
                    <div class="invalid-feedback">
                      Please provide a price name.
                    </div>
                </div>
                <div class="col-md-6 mt-2 ps-2">
                    <label for="vgst" class="form-label fw-bolder">GST</label>
                    <input type="text" class="form-control" id="vgst" placeholder="Enter GST." required>
                    <div class="invalid-feedback">
                      Please provide a gst.
                    </div>
                </div>
                <div class="col-md-12 mt-2 ">
                    <label for="vendor" class="form-label fw-bolder">Vendor</label>
                    <select class="form-control" id="vendor">
                        <option value="" id="update_vendor">Select Vendor</option>
                    </select>
                </div>

                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-sm edit btn-primary"></button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- delete Modal for admin -->
<div class="modal fade" id="deleteMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header py-2 bg-danger text-white">
          <h5 class="modal-title fw-bold small" id="exampleModalLabel">DELETE PRODUCT</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete ?</h5>
        </div>
        <div class="modal-footer border-0 py-2">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" data-col="id" data-url="products" data-id="" class="btn btn-danger dlt btn-sm">DELETE</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){



            $('.productMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var post_url = 'http://127.0.0.1:8000/post-api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')

            // get all vendors
            $.get(url+'vendors/?format=datatables', function (res){
                for(var i=0;i<res.data.length;i++){
                    $('#vendor').append('<option value="'+res?.data[i]?.id+'">'+res?.data[i]?.Vendor_Name+'</option>')
                }
            })

            $.ajaxSetup({
                headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
            });

            $('#example').DataTable()

            $('#agency').click(function(){
                $('#add_agency .header').text('Add Material')
                $('.editvalidation').addClass('agency-validation').removeClass('editvalidation')
                $('.agency-validation input').val('')
                $('#add_agency .btn-primary').html('<i class="fa fa-plus me-1"></i> Add Material')
                $('#add_agency').modal('toggle')
                agency_validation()
            })

            // add material
            function agency_validation(){
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () { 'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.agency-validation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                if (form.checkValidity()) {
                                    event.preventDefault()
                                    var params = {
                                        User: userid,
                                        Name: $('.agencyid').attr('agency-id'),
                                        Product: $('#vname').val(),
                                        Price: $('#vprice').val(),
                                        GST: $('#vgst').val(),
                                        Vendor: $('#vendor').val(),
                                        'csrfmiddlewaretoken': csrftoken
                                    }
                                    console.log(params)
                                    $.post(post_url+'products/', params, function(res){

                                        $('.alert-success').removeClass('d-none').html('Material Added. !!!<button type="button" class="btn-close pt-1 small pe-1" data-bs-dismiss="alert" aria-label="Close"></button>')
                                        setTimeout(() => {
                                            location.reload()
                                        },1000)
                                    })
                                }

                                form.classList.add('was-validated')
                            }, false)
                    })
                  
                })()
            }

            // edit method
            var editProduct = document.getElementById('add_agency')
                editProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                $.get(url+'products/'+id+'/', function(res){
                    $('#vname').val(res?.Product)
                    $('#vprice').val(res?.Price)
                    $('#vgst').val(res?.GST)
                    $('#update_vendor').text(res?.Vendor?.Vendor_Name).attr('value', res?.Vendor?.id)
                })
                // If necessary, you could initiate an AJAX request here
                $('#add_agency .edit').attr('data-id', id).html('<i class="fa fa-edit me-1"> Edit Material')
                $('#add_agency .header').text('Edit Material')
                $('.agency-validation').addClass('editvalidation').removeClass('agency-validation')

                GETPATCHMethod()

            })

            // patch method
            function GETPATCHMethod() {

                $('.editvalidation .btn').click(function (){
                    PATCHMETHOD()
                })

            }


            function PATCHMETHOD() {

                // console.log(params)

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () { 'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.editvalidation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                if (form.checkValidity()) {
                                    event.preventDefault()
                                    var patch = { 
                                        Product: $('#vname').val(),
                                        Price: $('#vprice').val(),
                                        GST: $('#vgst').val(),
                                        Vendor: $('#vendor').val(),
                                        id: $('.editvalidation .edit').attr('data-id')
                                    }
                                    console.log(patch)
                                    $.ajax({
                                        type: 'PATCH',
                                        url: post_url+'products/'+patch.id+'/',
                                        data: JSON.stringify(patch),
                                        processData: false,
                                        contentType: "application/json",
                                        dataType: "json",
                                        headers: {
                                            'X-CSRFToken': csrftoken
                                        },
                                        success: function (response) {
                                            $('.alert-success').removeClass('d-none').html('Material Updated. !!!<button type="button" class="btn-close pt-1 small pe-1" data-bs-dismiss="alert" aria-label="Close"></button>')
                                            setTimeout(() => {
                                                location.reload()
                                            }, 1000)
                                        },
                                        error: function (response) {
                                            console.log(response);
                                        }
                                    });
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
            }




            // delete method for users
            $('.deleteForUser').click(function(e){
                e.preventDefault()
                if (confirm('Are you sure you want to delete?')) {

                    var _obj = JSON.stringify({'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                    var params = {
                        "Notifications": _obj,
                        'csrfmiddlewaretoken': csrftoken,
                        'Types': $(this).attr('data-method'),
                        'User': $('#userid').html()
                    }
                    console.log(params)
                    $.post(base+'post-api/notifications/', params, function(req, res){
                        console.log(req)
                        console.log(res)
                    })

                } 
            })










            // delete method
            var deleteProduct = document.getElementById('deleteMethod')
            deleteProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                $('#deleteMethod .dlt').attr('data-id', id)
                DELETEMethod()
            })

            function DELETEMethod() {
                $('#deleteMethod .dlt').click(function () {
                    var customurl = $(this).attr('data-url')
                    var key = $(this).attr('data-col')
                    var value = $(this).attr('data-id')
                    var baseurl = url + 'products/' + value
                    var params = { [key]: value };
                    // console.log(params)
                    $.ajax({
                        type: "DELETE",
                        url: baseurl,
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(params),
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                    });
                    $('.row_' + value).remove()
                    $('#deleteMethod').modal('toggle');
                })
            }
        })
    </script>
{% endblock %})