
{% extends "_base.html" %}


{% block content %}
<div class="container">
    <div class="row mt-3">  
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Customers</h5>
        </div>

        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3">
                <a  class="btn btn-sm btn-primary float-end " href="{% url 'add-customer' %}" ><i class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr >
                            <th scope="col">Customer</th>
                            <th scope="col">Customer Staff Info</th>
                            <th scope="col">Customer Delivery Address</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.customer_obj %}
                            <tr class="row_{{i.id}}">
                                <td class="text-capitalize"><b class="small">Founder Name : </b>{{i.Founder_Name}} <a class="ms-2" href="tel:{{i.Founder_Phone}}"><i class="fa fa-phone"></i></a> <a class="ms-2 text-danger" href="mailto:{{i.Founder_Email}}"><i class="fa fa-envelope"></i></a>
                                    <br>( {{i.Company_Name}} )
                                    <br><b class="small">No Of Projects : </b>{{i.No_Of_Project}} 
                                    <b class="small ms-2">GST : </b> 
                                    {% if i.GST_Type == '0' %}
                                        <a href="media/{{i.GST_No.Scan_Copy}}" data-bs-toggle="tooltip" title="{{i.GST_No.GST_No}}" class="ms-1" download><i class="fa fa-download"></i></a>
                                    {% else %}
                                        <small class="text-primary">( Unregistered GST)</small>
                                    {% endif %}
                                    <b class="small ms-2">PAN : </b> <a href="media/{{i.PAN_Scan_Copy}}" data-bs-toggle="tooltip" title="{{i.PAN_No}}" class="ms-1" download><i class="fa fa-download"></i></a><br>
                                    <span class="small"><b>Billing Address : </b>{{i.GST_No.Address}}, {{i.GST_No.City}} - {{i.GST_No.Zip}},</span><br>
                                    <span class="small">{{i.GST_No.State}}, {{i.GST_No.Country}}</span> <a class="ms-1" href="{{i.GST_No.Location_Url}}"><i class="fa fa-link"></i></a>
                                </td>
                                <td>
             
                                    {% for k in i.Customer_Staff_Account.all %}
                                        <span class="text-capitalize"><b>{{k.Position}}</b> : {{k.Name}}</span>
                                        <a href="tel:{{k.Contact_No}}" class="ms-1"><i class="fa fa-phone"></i></a>
                                        <a href="mailto:{{k.Email}}" class="text-danger ms-1"><i class="fa fa-envelope"></i></a>
                                        <div><a href="{{k.Location}}">{{k.Location}}</a></div> 
                                        <div class="text-capitalize"><i class="fa fa-map-marker"></i> : {{k.City}}, {{k.Zip}}, {{k.State}}, {{k.Country}}</div>
                                        <hr class="my-1">
                                    {% endfor %}
            
                                </td>
                                <td>
                                    {% for k in i.Delivery_Address.all %}
                                        <div><b class="small">Unloading Place : </b><a href="{{k.URL_Location_Of_The_Unloading_Place}}"><i class="fa fa-link"></i></a></div>
                                        <div><b class="small">Office Location : </b><a href="{{k.URL_Office_Location}}"><i class="fa fa-link"></i></a> <b class="small">Owner House : </b><a href="{{k.URL_Of_Owner_House}}"><i class="fa fa-link"></i></a></div>
                                        <div>
                                            <b class="small">Invoice : </b><a href="{{k.Invoice_Submitting_URL}}"><i class="fa fa-link"></i></a>
                                            <b class="small">Other : </b><a href="{{k.Add_other_URL}}"><i class="fa fa-link"></i></a>
                                        </div>
            
                                    {% endfor %}
                                </td> 
                                <td class="text-capitalize">
                                    {% for k in i.Bank_Account.all %}
                                        <div>
                                            {% if k.Category %}
                                                <b class="small">Personal :</b> {{k.Account_No}}
                                            {% else %}
                                               <b class="small">Registered :</b> {{k.Account_No}}
                                            {% endif %}
                                        </div>
                                        <div><b class="small text-primary">( IFSC : {{k.IFSC_Code}} )</b> </div>
                                        <div></div>
                                        <div><b class="small">Branch : </b>{{k.Branch}} <a class="ms-1" href="tel:{{k.Register_Phone}}"><i class="fa fa-phone"></i></a></div>
                                        <hr class="my-1">
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="update-customer/{{i.id}}" class="me-2 text-warning add_agency" ><i class="fa fa-18 fa-edit"></i></a>
            
                                    {% if user.is_superuser %}
                                        <a href="{{i.id}}" class="text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="{{i.id}}"><i class="fa fa-18 fa-trash"></i></a></td>
                                    {% else %}
                                        <a href="{{i.id}}" class="text-danger deleteForUser" data-method="Delete" data-url="customers"><i class="fa fa-lg fa-trash"></i></a>
                                    {% endif %}
            
                                    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 

<!-- delete Modal for admin -->
<div class="modal fade" id="deleteMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header py-2 bg-danger text-white">
          <h5 class="modal-title fw-bold small" id="exampleModalLabel">DELETE PRODUCT</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete ?</h5>
        </div>
        <div class="modal-footer border-0 py-2">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" data-col="id" data-url="customers" data-id="" class="btn btn-danger dlt btn-sm">DELETE</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){



            $('.customerMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')

            $.ajaxSetup({
                headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
            });

            $('#example').DataTable()


            $('#agency').click(function(){
                $('#add_agency .header').text('Add Customer')
                $('#add_agency .btn-primary').html('<i class="fa fa-plus me-1"></i> Add Customer')
                $('#add_agency').modal('toggle')
                agency_validation()
            })


            // delete method for users
            $('.deleteForUser').click(function(e){
                e.preventDefault()
                if (confirm('Are you sure you want to delete?')) {

                    var _obj = JSON.stringify({'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                    var params = {
                        "Notifications": _obj,
                        'csrfmiddlewaretoken': csrftoken,
                        'Types': $(this).attr('data-method'),
                        'User': $('#userid').html()
                    }
                    console.log(params)
                    $.post(base+'post-api/notifications/', params, function(req, res){
                        console.log(req)
                        console.log(res)
                    })

                } 
            })




            // add vendor
            function agency_validation(){
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () { 'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.agency-validation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                if (form.checkValidity()) {
                                    event.preventDefault()
                                    var params = {
                                        User: userid,
                                        Agency: $('.agencyid').attr('agency-id'),
                                        Name: $('#vname').val(),
                                        CompanyName: $('#vcname').val(),
                                        Phone: $('#vphno').val(),
                                        Email: $('#vemail').val(),
                                        Address: $('#vaddress').val(),
                                        City: $('#vcity').val(),
                                        Zip: $('#vzip').val(),
                                        State: $('#vstate').val(),
                                        Country: $('#vcountry').val(),
                                        'csrfmiddlewaretoken': csrftoken
                                    }
                                    $.post(url+'customers/', params, function(res){

                                        $('.alert-success').removeClass('d-none').html('Customer Created. !!!<button type="button" class="btn-close pt-1 small pe-1" data-bs-dismiss="alert" aria-label="Close"></button>')
                                        setTimeout(() => {
                                            location.reload()
                                        },1000)
                                    })
                                }

                                form.classList.add('was-validated')
                            }, false)
                    })
                  
                })()
            }

            // edit method
            var editProduct = document.getElementById('add_agency')
                editProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                $.get(url+'customers/'+id+'/', function(res){
                    $('#vname').val(res?.Name)
                    $('#vcname').val(res?.CompanyName)
                    $('#vphno').val(res?.Phone)
                    $('#vemail').val(res?.Email)
                    $('#vaddress').val(res?.Address)
                    $('#vcity').val(res?.City)
                    $('#vzip').val(res?.Zip)
                    $('#vstate').val(res?.State)
                    $('#vcountry').val(res?.Country)
                })
                // If necessary, you could initiate an AJAX request here
                $('#add_agency .edit').attr('data-id', id).html('<i class="fa fa-edit me-1"> Edit Customer')
                $('#add_agency .header').text('Edit Customer')
                $('.agency-validation').addClass('editvalidation').removeClass('agency-validation')

                GETPATCHMethod()

            })

            // patch method
            function GETPATCHMethod() {

                $('.editvalidation .btn').click(function (){
                    // console.log(params)
                    PATCHMETHOD()
                })

            }


            function PATCHMETHOD() {

                // console.log(params)

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () { 'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.editvalidation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                if (form.checkValidity()) {
                                    event.preventDefault()
                                    var patch = { 
                                        Name: $('#vname').val(),
                                        CompanyName: $('#vcname').val(),
                                        Phone: $('#vphno').val(),
                                        Email: $('#vemail').val(),
                                        Address: $('#vaddress').val(),
                                        City: $('#vcity').val(),
                                        Zip: $('#vzip').val(),
                                        State: $('#vstate').val(),
                                        Country: $('#vcountry').val(),
                                        id: $('.editvalidation .edit').attr('data-id')
                                    }
                                    $.ajax({
                                        type: 'PATCH',
                                        url: url+'customers/'+patch.id+'/',
                                        data: JSON.stringify(patch),
                                        processData: false,
                                        contentType: "application/json",
                                        dataType: "json",
                                        headers: {
                                            'X-CSRFToken': csrftoken
                                        },
                                        success: function (response) {
                                            $('.alert-success').removeClass('d-none').html('Customer Updated. !!!<button type="button" class="btn-close pt-1 small pe-1" data-bs-dismiss="alert" aria-label="Close"></button>')
                                            setTimeout(() => {
                                                location.reload()
                                            }, 1000)
                                        },
                                        error: function (response) {
                                            console.log(response);
                                        }
                                    });
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
            }





            // delete method
            var deleteProduct = document.getElementById('deleteMethod')
                deleteProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                $('#deleteMethod .dlt').attr('data-id', id)
                DELETEMethod()
            })

            function DELETEMethod() {
                $('#deleteMethod .dlt').click(function () {
                    var customurl = $(this).attr('data-url')
                    var key = $(this).attr('data-col')
                    var value = $(this).attr('data-id')
                    var baseurl = url + customurl + '/' + value
                    var params = { [key]: value };
                    $.ajax({
                        type: "DELETE",
                        url: baseurl,
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(params),
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                    });
                    $('.row_' + value).remove()
                    $('#deleteMethod').modal('toggle');
                })
            }
        })
    </script>
    <style>
        .fa-18{
            font-size: 18px;
        }
    </style>
{% endblock %})