
{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<a href="{% url 'customer' %}" class="btn m-2 btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alerts mx-3 alert-{{ message.tags }}" {% endif %}> {{ message }} </div>
    {% endfor %}
{% endif %}


<div class="card p-3 mb-3 mx-3 box-2">
    <h6 class="fw-bold">Add Customer</h6>
    <hr class="my-2">
    {% crispy obj.customer_form %}
</div>

<div class="card p-3 mb-3 mx-3 box-2">
    <h6 class="fw-bold">Add Customer Staff Info</h6>
    <hr class="my-2">
    {% crispy obj.customer_staff_form %}
</div>

<div class="card p-3 mb-3 mx-3 box-2">
    <h6 class="fw-bold">Add Customer Delivery Address</h6>
    <hr class="my-2">
    {% crispy obj.customer_delivery_address_form %}
</div>
        
<div class="row mx-0 mb-3">
    <div class="col-6 pe-1">
        <div class="card p-3 mb-3 mx-1 box-2">
            <h6 class="fw-bold">Add GST No</h6>
            <hr class="my-2">
            {% crispy obj.customer_billing_address_form %}
        </div>
    </div>
    <div class="col-6 ps-1">
        <div class="card p-3 mb-3 mx-1 box-2">
            <h6 class="fw-bold">Add Customer Bank Accounts</h6>
            <hr class="my-2">
            {% crispy obj.customer_bank_accounts_form %}
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

    <style>
        #div_id_PAN_Scan_Copy .custom-file-label, #div_id_Scan_Copy .custom-file-label, #div_id_Photo .custom-file-label{
            display:none !important;
        }
        #div_id_PAN_Scan_Copy .custom-file, #div_id_Scan_Copy .custom-file, #div_id_Photo .custom-file{
            padding: 0 !important;
        }
        .alerts{
        padding: 5px 15px;
        margin-bottom: 10px;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }
    .alert-error{
        background: #dc3545;
    }
    .alert-success{
        background:#0f5132 !important; 
    }
    </style>

    <script>
        $(document).ready(function(){

            $('.vendorMenu').addClass('active')

            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')
            $('#id_User').val(userid)
            $.ajaxSetup({
                headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
            });

            $('#example').DataTable()

            $('#id_Company_Name, #id_Vendor_Company_Name').change(function(){
                var vn = $('#id_Company_Name').val()
                $('#id_Company_Name, #id_Vendor_Company_Name').val(vn)
            })











            // delete method
            var deleteProduct = document.getElementById('deleteMethod')
                deleteProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                $('#deleteMethod .dlt').attr('data-id', id)
                DELETEMethod()
            })

            function DELETEMethod() {
                $('#deleteMethod .dlt').click(function () {
                    var customurl = $(this).attr('data-url')
                    var key = $(this).attr('data-col')
                    var value = $(this).attr('data-id')
                    var baseurl = url + customurl + '/' + value
                    var params = { [key]: value };
                    $.ajax({
                        type: "DELETE",
                        url: baseurl,
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(params),
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                    });
                    $('.row_' + value).remove()
                    $('#deleteMethod').modal('toggle');
                })
            }
        })
    </script>
{% endblock %})