
{% extends "_base.html" %}


{% block content %}
<div class="container">
    <div class="row mt-3">  
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Bank Entries</h5>
        </div>

        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3">
                <a  class="btn btn-sm btn-primary float-end " data-bs-toggle="modal" data-bs-target="#addbankEntries"><i class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr >
                            <th>Vendors</th>
                            <th>Numbers</th>
                            <th>Bank Entries</th>
                            <th >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <b>VENDOR CODE</b> : <span >AHSH89324892</span><br>
                                    <b>PAYMENT AGAINST</b> : <span >Vingsfire</span><br>
                                    <b>DATE OF PAYMENT	</b> : <span>20/11/2021</span><br>
                                </div>	
                            </td>
                            <td>
                                <div>
                                    <b>UTR NUMBER : </b><span >9823487234</span><br>
                                    <b>OWNER NUMBER	: </b><span >3248732784</span><br>
                                    <b>VOUCHER NUMBER : </b><span>3248768234</span><br>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <b >BANK NAME : </b> <span >ICIC Bank</span><br>	
                                    <b >IFSC CODE : </b> <span >8348</span>	<br>
                                    <b>BRANCH : </b> <span>Velachery</span><br>
                                </div>
                            </td>
                            <td>
                                <a href="" class="ms-2 text-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="" class="ms-2 text-warning"><i class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="ms-2 text-danger"><i class="fa fa-eye fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <b>VENDOR CODE</b> : <span >AHSH89324892</span><br>
                                    <b>PAYMENT AGAINST</b> : <span >Vingsfire</span><br>
                                    <b>DATE OF PAYMENT	</b> : <span>20/11/2021</span><br>
                                </div>	
                            </td>
                            <td>
                                <div>
                                    <b>UTR NUMBER : </b><span >9823487234</span><br>
                                    <b>OWNER NUMBER	: </b><span >3248732784</span><br>
                                    <b>VOUCHER NUMBER : </b><span>3248768234</span><br>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <b >BANK NAME : </b> <span >ICIC Bank</span><br>	
                                    <b >IFSC CODE : </b> <span >8348</span>	<br>
                                    <b>BRANCH : </b> <span>Velachery</span><br>
                                </div>
                            </td>
                            <td>
                                <a href="" class="ms-2 text-success" data-bs-toggle="modal" data-bs-target="#viewBankEntries"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="" class="ms-2 text-warning"><i class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="ms-2 text-danger"><i class="fa fa-eye fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <b>VENDOR CODE</b> : <span >AHSH89324892</span><br>
                                    <b>PAYMENT AGAINST</b> : <span >Vingsfire</span><br>
                                    <b>DATE OF PAYMENT	</b> : <span>20/11/2021</span><br>
                                </div>	
                            </td>
                            <td>
                                <div>
                                    <b>UTR NUMBER : </b><span >9823487234</span><br>
                                    <b>OWNER NUMBER	: </b><span >3248732784</span><br>
                                    <b>VOUCHER NUMBER : </b><span>3248768234</span><br>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <b >BANK NAME : </b> <span >ICIC Bank</span><br>	
                                    <b >IFSC CODE : </b> <span >8348</span>	<br>
                                    <b>BRANCH : </b> <span>Velachery</span><br>
                                </div>
                            </td>
                            <td>
                                <a href="" class="ms-2 text-success" data-bs-toggle="modal" data-bs-target="#viewBankEntries"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="" class="ms-2 text-warning"><i class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="ms-2 text-danger"><i class="fa fa-eye fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <b>VENDOR CODE</b> : <span >AHSH89324892</span><br>
                                    <b>PAYMENT AGAINST</b> : <span >Vingsfire</span><br>
                                    <b>DATE OF PAYMENT	</b> : <span>20/11/2021</span><br>
                                </div>	
                            </td>
                            <td>
                                <div>
                                    <b>UTR NUMBER : </b><span >9823487234</span><br>
                                    <b>OWNER NUMBER	: </b><span >3248732784</span><br>
                                    <b>VOUCHER NUMBER : </b><span>3248768234</span><br>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <b >BANK NAME : </b> <span >ICIC Bank</span><br>	
                                    <b >IFSC CODE : </b> <span >8348</span>	<br>
                                    <b>BRANCH : </b> <span>Velachery</span><br>
                                </div>
                            </td>
                            <td>
                                <a href="" class="ms-2 text-success" data-bs-toggle="modal" data-bs-target="#viewBankEntries"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="" class="ms-2 text-warning"><i class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="ms-2 text-danger"><i class="fa fa-eye fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add bank entries  -->
<div class="modal fade" id="addbankEntries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header py-2">
          <h5 class="modal-title fw-bold" id="staticBackdropLabel">Bank Entries</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form class="row">
                <div class="col-6 pe-2">
                  <label for="vendor_code" class="form-label">Vendor Code</label>
                  <input type="text" class="form-control" id="vendor_code" aria-describedby="emailHelp">
                </div>
                <div class="col-6 ps-2">
                    <label for="Payment_Against" class="form-label">Payment Against</label>
                    <input type="text" class="form-control" id="Payment_Against" aria-describedby="emailHelp">
                </div>
                <div class="col-6 my-2 pe-2">
                    <label for="exampleInputEmail1" class="form-label">Date Of Payment</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-6 my-2 ps-2">
                    <label for="exampleInputEmail1" class="form-label">UTR Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-2 pe-2">
                    <label for="exampleInputEmail1" class="form-label">Owner Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-2 ps-2">
                    <label for="exampleInputEmail1" class="form-label">Voucher Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-4 pe-2">
                    <label for="exampleInputEmail1" class="form-label">BANK Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-4 px-2">
                    <label for="exampleInputEmail1" class="form-label">IFSC Code</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-4 ps-2">
                    <label for="exampleInputEmail1" class="form-label">Branch</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </form>
        </div>
        <div class="modal-footer py-2">
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-success">Submit</button>
        </div>
      </div>
    </div>
</div>

<!-- View bank entries -->
<div class="modal fade" id="viewBankEntries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header py-2">
          <h5 class="modal-title fw-bold" id="staticBackdropLabel">Bank Entries</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table mb-0 table-bordered" >
                <tbody>
                    <tr>
                        <td class="fw-bold">VENDOR CODE</td>
                        <td>AHSH89324892</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">PAYMENT AGAINST</td>
                        <td>Vingsfire</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">DATE OF PAYMENT</td>
                        <td>20/11/2021</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">UTR NUMBER</td>
                        <td>9823487234</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">OWNER NUMBER</td>
                        <td>3248732784</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">VOUCHER NUMBER</td>
                        <td>3248768234</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">BANK NAME</td>
                        <td>ICIC Bank</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">IFSC CODE</td>
                        <td>8348</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">BRANCH</td>
                        <td>Velachery</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="modal-footer py-2">
          <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="fa fa-close"></i></button>
          <button type="button" class="btn btn-blue text-white fw-bold btn-sm"><i class="fa fa-print me-2"></i> PRINT</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $('.bankMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')

            $.ajaxSetup({
                headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
            });

            $('#example').DataTable()

        })
    </script>
    <style>
        .fa-18{
            font-size: 18px;
        }
    </style>
{% endblock %})