{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Sales
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <a href="{% url 'salesvoucher' %}" class="btn btn-primary">Voucher</a>
                    <a href="{% url 'sales-invoice' %}" class="btn btn-danger">Invoice</a>
                </div>
            </h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <a href="{% url 'sales' %}" class="btn btn-sm btn-primary float-end " id="agency"><i
                        class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr>
                            <th>Vendor & PO Detail</th>
                            <th>Purchases & Unloading Info</th>
                            <th>Vehicle & GST</th>
                            <th>Unloading Site</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <div><b><i class="fa fa-industry me-1" aria-hidden="true"></i>Vendor Code :
                                        </b>32472384</div>
                                    <div><b>PO : </b><span>2098348023</span><b class="ms-2">Qty : </b><span>5</span>
                                    </div>
                                    <div><b class="text-success"><i class="fa fa-truck me-1"
                                                aria-hidden="true"></i>Delivered : </b><span>4</span><b
                                            class="ms-2 text-danger"><i class="fa fa-balance-scale me-1"
                                                aria-hidden="true"></i>Balanced : </b><span>1</span></div>
                                    <div><b class="text-blue"><i class="fa fa-money me-1" aria-hidden="true"></i>GST No
                                            : </b><span>348758347823948</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Vendor : </b><span>Vendor </span>
                                        <a href="" class="text-success mx-2"><i class="fa fa-phone"></i></a>
                                        <a href="" class="text-danger"><i class="fa fa-envelope"></i></a>
                                        <span class="float-end small"><i class="fa fa-calendar text-blue"></i> :
                                            20-05-2021</span>
                                    </div>
                                    <div class="text-primary">( Vendor Company )</div>
                                    <div>Material Name </div>
                                    <div><b>CDC : </b><span>4398578435</span><b class="ms-2">IDC :
                                        </b><span>234897287934</span></div>
                                    <div><b>INV No : </b><span>3928432498234</span><a href=""><i
                                                class="fa fa-download text-blue ms-2"></i></a><span
                                            class="float-end small">( 20-05-2021 )</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Lorry Owner : </b><a href=""><i class="fa fa-phone text-success"></i></a><b
                                            class="ms-2">Driver : </b><a href=""><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Vehicle No : </b><span class="text-blue">TH234324</span></div>
                                    <div><b>CFT/MT : </b><span>4324/24</span><b class="ms-2">RATE : </b><span>432</span>
                                    </div>
                                    <div><b>GST : </b><span>15%</span></div>
                                    <div><b>Without GST : </b><span>500</span><b class="ms-2">With GST :
                                        </b><span>650</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Unloading Site : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Payment No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Office No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Manager No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Owner No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                </div>
                            </td>
                            <td>
                                <a href="" class="me-2 text-success add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-eye"></i></a>
                                <a href="" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="me-2 text-danger add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <div><b><i class="fa fa-industry me-1" aria-hidden="true"></i>Vendor Code :
                                        </b>32472384</div>
                                    <div><b>PO : </b><span>2098348023</span><b class="ms-2">Qty : </b><span>5</span>
                                    </div>
                                    <div><b class="text-success"><i class="fa fa-truck me-1"
                                                aria-hidden="true"></i>Delivered : </b><span>4</span><b
                                            class="ms-2 text-danger"><i class="fa fa-balance-scale me-1"
                                                aria-hidden="true"></i>Balanced : </b><span>1</span></div>
                                    <div><b class="text-blue"><i class="fa fa-money me-1" aria-hidden="true"></i>GST No
                                            : </b><span>348758347823948</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Vendor : </b><span>Vendor </span>
                                        <a href="" class="text-success mx-2"><i class="fa fa-phone"></i></a>
                                        <a href="" class="text-danger"><i class="fa fa-envelope"></i></a>
                                        <span class="float-end small"><i class="fa fa-calendar text-blue"></i> :
                                            20-05-2021</span>
                                    </div>
                                    <div class="text-primary">( Vendor Company )</div>
                                    <div>Material Name </div>
                                    <div><b>CDC : </b><span>4398578435</span><b class="ms-2">IDC :
                                        </b><span>234897287934</span></div>
                                    <div><b>INV No : </b><span>3928432498234</span><a href=""><i
                                                class="fa fa-download text-blue ms-2"></i></a><span
                                            class="float-end small">( 20-05-2021 )</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Lorry Owner : </b><a href=""><i class="fa fa-phone text-success"></i></a><b
                                            class="ms-2">Driver : </b><a href=""><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Vehicle No : </b><span class="text-blue">TH234324</span></div>
                                    <div><b>CFT/MT : </b><span>4324/24</span><b class="ms-2">RATE : </b><span>432</span>
                                    </div>
                                    <div><b>GST : </b><span>15%</span></div>
                                    <div><b>Without GST : </b><span>500</span><b class="ms-2">With GST :
                                        </b><span>650</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Unloading Site : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Payment No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Office No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Manager No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Owner No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                </div>
                            </td>
                            <td>
                                <a href="" class="me-2 text-success add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-eye"></i></a>
                                <a href="" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="me-2 text-danger add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <div><b><i class="fa fa-industry me-1" aria-hidden="true"></i>Vendor Code :
                                        </b>32472384</div>
                                    <div><b>PO : </b><span>2098348023</span><b class="ms-2">Qty : </b><span>5</span>
                                    </div>
                                    <div><b class="text-success"><i class="fa fa-truck me-1"
                                                aria-hidden="true"></i>Delivered : </b><span>4</span><b
                                            class="ms-2 text-danger"><i class="fa fa-balance-scale me-1"
                                                aria-hidden="true"></i>Balanced : </b><span>1</span></div>
                                    <div><b class="text-blue"><i class="fa fa-money me-1" aria-hidden="true"></i>GST No
                                            : </b><span>348758347823948</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Vendor : </b><span>Vendor </span>
                                        <a href="" class="text-success mx-2"><i class="fa fa-phone"></i></a>
                                        <a href="" class="text-danger"><i class="fa fa-envelope"></i></a>
                                        <span class="float-end small"><i class="fa fa-calendar text-blue"></i> :
                                            20-05-2021</span>
                                    </div>
                                    <div class="text-primary">( Vendor Company )</div>
                                    <div>Material Name </div>
                                    <div><b>CDC : </b><span>4398578435</span><b class="ms-2">IDC :
                                        </b><span>234897287934</span></div>
                                    <div><b>INV No : </b><span>3928432498234</span><a href=""><i
                                                class="fa fa-download text-blue ms-2"></i></a><span
                                            class="float-end small">( 20-05-2021 )</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Lorry Owner : </b><a href=""><i class="fa fa-phone text-success"></i></a><b
                                            class="ms-2">Driver : </b><a href=""><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Vehicle No : </b><span class="text-blue">TH234324</span></div>
                                    <div><b>CFT/MT : </b><span>4324/24</span><b class="ms-2">RATE : </b><span>432</span>
                                    </div>
                                    <div><b>GST : </b><span>15%</span></div>
                                    <div><b>Without GST : </b><span>500</span><b class="ms-2">With GST :
                                        </b><span>650</span></div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div><b>Unloading Site : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Payment No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Office No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Manager No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                    <div><b>Owner No : </b><a href="" class="ms-1 "><i
                                                class="fa text-success fa-phone"></i></a></div>
                                </div>
                            </td>
                            <td>
                                <a href="" class="me-2 text-success add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-eye"></i></a>
                                <a href="" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-edit"></i></a>
                                <a href="" class="me-2 text-danger add_agency" data-bs-toggle="modal"
                                    data-bs-target="#invoice" data-bs-whatever="{{i.id}}"><i
                                        class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="invoice" tabindex="-1" aria-labelledby="invoiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body" id="final_invoice">
                <h6 class="text-center fw-bold mb-3">TAX INVOICE 2021/2022</h6>
                <p class="position-absolute top-0 end-0 mt-3 me-3">(DUPLICATE FOR TRANSPORTER)</p>
                <table class="table table-bordered mb-0">
                    <tr>
                        <td width="30%">
                            <p class="mb-0">KAVITHA AGENCY</p>
                            <p class="mb-0">No. 3/46-C Semman Street,</p>
                            <p class="mb-1">C.Pallavaram, Chennai - 600 043.</p>
                            <p class="mb-0"><span class="fw-bold">CELL : </span>9791023871</p>
                            <p class="mb-0"><span class="fw-bold">GSTIN/UIN : </span>CIHPK2333K1ZD</p>
                            <p class="mb-0"><span class="fw-bold">State Name : </span>Tamil Nadu, <span
                                    class="ms-2 fw-bold">Code : </span>33</p>
                            <p class="mb-0"></p>
                            <p class="mb-0"><span class="fw-bold">E-Mail : </span>kavithaagency@gmail.com</p>
                        </td>
                        <td width="25%" class="px-0">
                            <p class="mb-0 mx-2">Invoice No.</p>
                            <p class="mb-0 mx-2 fw-bold">105/2021-2022</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Delivery Note</p>
                            <p class="mb-0 mx-2">NIL</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Supplier's Ref.</p>
                            <p class="mb-0 mx-2 fw-bold">LHE/21-22/214</p>
                        </td>
                        <td width="25%" class="px-0">
                            <p class="mb-0 mx-2">Dated</p>
                            <p class="mb-0 mx-2 fw-bold">29-Sep-2021</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Other Reference(s)</p>
                            <p class="mb-0 mx-2">NIL</p>
                            <hr class="my-1">
                            <p class="mb-0 mx-2">Mode/Terms of Payment</p>
                            <p class="mb-0 mx-2 fw-bold">15 Days</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" style="border-bottom-style: hidden;" class="pb-0">
                            <div>Buyer</div>
                            <div>ALLIANCE BUSINESS PARKS PVT LTD</div>
                            <div>NO.36/1, PLOT NO.A,</div>
                            <div>GANDHI MANDAPAM MAIN ROAD</div>
                            <div>KOTTURPURAM, CHENNAI,</div>
                            <div>TAMIL NADU - 600085.</div>
                        </td>
                        <td width="25%" class="px-0">
                            <div class="mx-2"><b>Buyer's Order No: </b></div>
                            <div class="mx-2">PO2122AGR-441</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Despatch Document No : </b>NIL</div>
                            <hr class="my-1">
                            <div class="mb-0 mx-2"><b>Despatched through : </b>ROAD</div>
                        </td>
                        <td width="25%" class="px-0">
                            <div class="mx-2"><b>Date :</b> 11-Sep-2021</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Delivery Note : </b></div>
                            <div class="mx-2">NIL</div>
                            <hr class="my-1">
                            <div class="mx-2"><b>Destination : </b>NIL</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-0">
                            <div class="mb-0"><span class="fw-bold me-2">GSTIN/UIN : </span>33AAFCA5595G1ZM</div>
                            <div class="mb-0"><span class="fw-bold me-2">PAN/IT No : </span>Tamil Nadu</div>
                            <div class="mb-0"><span class="fw-bold me-2">State Name : </span>Tamil Nadu, <span
                                    class="ms-2 fw-bold me-2">Code : </span>33</div>
                        </td>
                        <td colspan="2">
                            <p class="mb-0 fw-bold">Terms of Delivery</p>
                            <p class="mb-0">Alliance Galleria Residences</p>
                            <div>Survey No : 200/04, 200 Feet Radial Road, Zamin Pallavaram, Chennai-600 043</div>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered mb-0 ">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Description of Goods</th>
                            <th>HSN/SAC</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>per</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mb-4">
                            <td>1</td>
                            <td>AAC BROKAN BLOCKS</td>
                            <td>05050505</td>
                            <td>10.440 MT</td>
                            <td>2,300.00</td>
                            <td>MT</td>
                            <td>24,012.00</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="text-end fw-bold">
                                    <div>2.5%-CGST-OUTPUT TAX</div>
                                    <div>2.5%-SGST-OUTPUT TAX</div>
                                    <div>ROUNDED OFF</div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    <div>2.50</div>
                                    <div>2.50</div>
                                </div>
                            </td>
                            <td>
                                <div>%</div>
                                <div>%</div>
                            </td>
                            <td>
                                <div class="text-end">
                                    <div>600.30</div>
                                    <div>600.30</div>
                                    <div>600.30</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td></td>
                            <td>10.440 MT</td>
                            <td></td>
                            <td></td>
                            <td> *25,213.00</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div>
                                    <div><small>Amount Chargeable (in words)</small> <span class="float-end">E &
                                            O.E</span></div>
                                    <div class="fw-bold">INR Twenty Five Thousand Two Hundred Thirteen Only</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered border-top-0 mb-0 table-sm">
                    <tr class="text-center fw-bold">
                        <td>HSN/SAC</td>
                        <td>Taxable Value</td>
                        <td colspan="2">Central Tax</td>
                        <td colspan="2">State Tax</td>
                        <td>Total</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>

                        <td>Rate</td>
                        <td>Amount</td>
                        <td>Rate</td>
                        <td>Amount</td>
                        <td>Tax Amount</td>
                    </tr>
                    <tr>
                        <td>8723468723</td>
                        <td>24,123.00</td>
                        <td>2.50%</td>
                        <td>600.30</td>
                        <td>2.50%</td>
                        <td>600.30</td>
                        <td>1,200.60</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-end">Total</td>
                        <td>24,123.00</td>
                        <td></td>
                        <td>600.30</td>
                        <td></td>
                        <td>600.30</td>
                        <td>1,200.60</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div>
                                <span>Tax Amount (in words) : </span><b>INR One Thousand Two Hundred Thirteen Only</b>
                            </div>
                            <div>
                                <b>Remarks :</b>
                                <div>BEING THE INVOICE NUMBER : 105 / 2021-2022 / INVOICE</div>
                                <div>DATE : <span>29.09.2021</span> ALLIANCE BUSINESS PARKS PVT LTD</div>
                                <div>ACCOUNTED</div>
                            </div>
                            <div>
                                <span>Company's VAT TIN : </span><b>32748324987</b>
                            </div>
                            <div>
                                <span>Buyer's VAT TIN : </span><b>32748324987</b>
                            </div>
                            <div>
                                <span>Company's PAN : </span><b>32748324987</b>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width:50%;">
                            <div>
                                <u>Declaration</u>
                                <div>
                                    We declare that this invoice shows the actual price of the goods described
                                    and that all particulars are true and correct.
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div>Company's Bank Details</div>
                            <div><b>Bank Name : </b> <span>INDIAN BANK</span></div>
                            <div><b>A/C No : </b> <span>673499345</span></div>
                            <div><b>Branch & IFSC : </b> <span>PALLAVARAM</span> & <span>IDB98324</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width:50%;">
                            <div>
                                Customer's Seal and Signature
                            </div>
                            <br><br>
                        </td>
                        <td colspan="3" class="text-center">
                            <div>for KAVITHA AGENCY</div>
                            <div class="mt-5">Authorised Signature</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"><i
                        class="fa fa-close"></i></button>
                <button type="button" class="btn btn-sm btn-primary" onclick="printDiv('final_invoice')"><i
                        class="fa fa-print me-2"></i>Print</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script>
    $('.salesMenu').addClass('active')
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    window.onafterprint = function () {
        window.location.reload()
    }
</script>
<style type="text/css" media="print">
    @media print {
        @page {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            padding-top: 72px;
            padding-bottom: 72px;
        }
    }
</style>
{% endblock %})