    
{% extends "_base.html" %}


{% block content %}
    <div class="container">
        <div class="row mt-3">  
            <div class="col-md-12 text-capitalize">
                <h5 class="fw-bold mb-1">
                    <a href="{% url 'purchase' %}" class="btn btn-sm ps-0"><i class="fa fa-chevron-left me-2"></i>Back</a>
                    Add Purchases Entry 
                </h5>
            </div>

            <div class="col-md-12">
                <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                    <div class="row">
                        <div class="col-4">
                            <label for="orders" class="fw-bold small">Order </label>
                            <select name="" id="Orders" class="form-control">
                                <option value="">Select Orders</option>
                                {% for i in context.order %}
                                    <option value="{{i.id}}">{{i.Sales_Company.Company_Name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $('.purchaseMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')

            $('#Orders').change(function(){
                var id_ = $(this).val()
                // console.log(id_)
                $.get(url+'orders/'+id_+'/', function(res){
                    console.log(res)
                })
            })

        })
    </script>
{% endblock %})