
{% extends "_base.html" %}


{% block content %}
    <div class="container">
        <div class="row mt-3">  
            <div class="col-md-12 text-capitalize">
                <h5 class="fw-bold">Purchases Entry 
                    <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                        <a href="{% url 'purchase-voucher' %}" class="btn btn-primary">Voucher</a>
                        <a href="{% url 'purchase-invoice' %}" class="btn btn-danger">Invoice</a>
                    </div>
                </h5>
            </div>

            <div class="col-md-12">
                <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                    <a  class="btn btn-sm btn-primary float-end" href="{% url 'add-purchase' %}"><i class="fa fa-plus me-1"></i> Add</a>
                    <table id="example" class="table table-bordered table-striped">
                        <thead class="table-dark text-capitalize">
                            <tr >
                                <th scope="col" style="width: 35% !important;">Sales Name</th>
                                <th scope="col" style="width: 27% !important;">PO Details</th>
                                <th scope="col" >Materials</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <h6 class="fw-bold mb-1">SUKRA CONCRETE PRIVATE LIMITED <a href="" class="ms-2"><i class="fa fa-envelope"></i></a></h6>
                                        <i class="fa fa-map-marker text-success "></i> : <span>1st, RNC Nagar, Taramani, Chennai - 113</span> 
                                        <div><b>PAN NO : </b><span>34985798345</span></div>
                                        <div><b>GST NO : </b><span>34985798345</span></div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>PO DATE : </b> <span>28/10/2021</span>
                                    </div>
                                    <div>
                                        <b>PO No : </b> <span>SUKRA/23/2/233</span>
                                        <b class="ms-2">Validity : </b> <span>1 weeks</span>
                                    </div>
                                    <div>
                                        <b>Vendor GST No : </b> <span>892348932984v324</span>
                                    </div>
                                    <div>
                                        <b>Vendor PAN No : </b> <span>892348932984v324</span>
                                    </div>
                                </td>
                                <td>
                                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="fw-bold">20MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>75.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>2,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>2,375.00</span></div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="fw-bold">12MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>50.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>1,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>5,375.00</span></div>
                                          </div>                                          
                                          <div class="carousel-item">
                                            <div class="fw-bold">MSand</div>
                                            <div><b>Quantity (MT) :</b> <span>750.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>3,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>12,375.00</span></div>
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="" class="text-success" data-bs-toggle="modal" data-bs-target="#viewPurchase" data-bs-whatever="@mdo"><i class="fa fa-lg fa-eye"></i></a>
                                    <a href="" class="text-warning"><i class="fa fa-lg ms-2 fa-edit"></i></a>
                                    <a href="" ><i class="fa fa-lg ms-2 fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <h6 class="fw-bold mb-1">NANDHA CONCRETE PRIVATE LIMITED <a href="" class="ms-2"><i class="fa fa-envelope"></i></a></h6>
                                        <i class="fa fa-map-marker text-success "></i> : <span>1st, RNC Nagar, Taramani, Chennai - 113</span> 
                                        <div><b>PAN NO : </b><span>34985798345</span></div>
                                        <div><b>GST NO : </b><span>34985798345</span></div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>PO DATE : </b> <span>28/10/2021</span>
                                    </div>
                                    <div>
                                        <b>PO No : </b> <span>SUKRA/23/2/233</span>
                                        <b class="ms-2">Validity : </b> <span>1 weeks</span>
                                    </div>
                                    <div>
                                        <b>Vendor GST No : </b> <span>892348932984v324</span>
                                    </div>
                                    <div>
                                        <b>Vendor PAN No : </b> <span>892348932984v324</span>
                                    </div>
                                </td>
                                <td>
                                    <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="fw-bold">20MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>75.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>2,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>2,375.00</span></div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="fw-bold">12MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>50.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>1,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>5,375.00</span></div>
                                          </div>                                          
                                          <div class="carousel-item">
                                            <div class="fw-bold">MSand</div>
                                            <div><b>Quantity (MT) :</b> <span>750.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>3,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>12,375.00</span></div>
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="" class="text-success"  data-bs-toggle="modal" data-bs-target="#viewPurchase" data-bs-whatever="@mdo"><i class="fa fa-lg fa-eye"></i></a>
                                    <a href="" class="text-warning"><i class="fa fa-lg ms-2 fa-edit"></i></a>
                                    <a href="" ><i class="fa fa-lg ms-2 fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <h6 class="fw-bold mb-1">TAJ CONCRETE PRIVATE LIMITED <a href="" class="ms-2"><i class="fa fa-envelope"></i></a></h6>
                                        <i class="fa fa-map-marker text-success "></i> : <span>1st, RNC Nagar, Taramani, Chennai - 113</span> 
                                        <div><b>PAN NO : </b><span>34985798345</span></div>
                                        <div><b>GST NO : </b><span>34985798345</span></div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <b>PO DATE : </b> <span>28/10/2021</span>
                                    </div>
                                    <div>
                                        <b>PO No : </b> <span>SUKRA/23/2/233</span>
                                        <b class="ms-2">Validity : </b> <span>1 weeks</span>
                                    </div>
                                    <div>
                                        <b>Vendor GST No : </b> <span>892348932984v324</span>
                                    </div>
                                    <div>
                                        <b>Vendor PAN No : </b> <span>892348932984v324</span>
                                    </div>
                                </td>
                                <td>
                                    <div id="carouselExampleContro" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <div class="fw-bold">20MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>75.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>2,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>2,375.00</span></div>
                                          </div>
                                          <div class="carousel-item">
                                            <div class="fw-bold">12MM AGGREGATES</div>
                                            <div><b>Quantity (MT) :</b> <span>50.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>1,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>5,375.00</span></div>
                                          </div>                                          
                                          <div class="carousel-item">
                                            <div class="fw-bold">MSand</div>
                                            <div><b>Quantity (MT) :</b> <span>750.0</span></div>
                                            <div><b>Unit Rate (Rs) :</b> <span>3,375.00</span></div>
                                            <div><b>Amount (Rs) :</b> <span>12,375.00</span></div>
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleContro" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleContro" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <a href="" class="text-success ms-2"  data-bs-toggle="modal" data-bs-target="#viewPurchase" data-bs-whatever="@mdo"><i class="fa fa-lg fa-eye"></i></a>
                                    <a href="" class="text-warning"><i class="fa fa-lg ms-2 fa-edit"></i></a>
                                    <a href="" ><i class="fa fa-lg ms-2 fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!-- View Purchase modal  -->
<div class="modal fade" id="viewPurchase" tabindex="-1" aria-labelledby="viewPurchaseLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">

            <div class="row" id="quotations">
                <div class="col-12">
                    <table class="table mb-0 table-bordered">
                        <tbody>
                            <tr class="border-bottom-0">
                                <td style="width: 55.1%;">
                                    <h6 class="fw-bold">SUKRA CONCRETE PRIVATE LIMITED</h6>
                                    <p class="mb-0"><b>Address : </b>1st Street, RNC Nagar, Cheyyur, Tamilnadu</p>
                                    <b>Email : </b> <a href="">sukra@gmail.com</a>
                                    <div>
                                        <b>PAN NO : </b> <span>ASB324234</span>
                                    </div>
                                    <div>
                                        <b>GST NO : </b> <span>234ASB324234</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/e66c5128469685.55c1b16d6c0b2.png"  alt="" class="w-50">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <table class="table mb-0 table-bordered">
                        <thead>
                            <tr >
                                <th colspan="2">
                                    <div class="fw-bold text-center">
                                        PURCHASE ORDER
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom-0">
                                <td style="width: 55.1%;">
                                    <div>To, ( Vendor )</div>
                                    <div class="border-bottom mb-1 pb-2">
                                        <h6 class="fw-bold mb-0">Mathi Agency</h6>
                                        <span>Aggregates Supplier</span> 
                                    </div>
                                    <div>
                                        <b>Kind Attn :</b> <span>Mr.Mathi</span>
                                        <div>
                                            <b>Email : </b> <a href="">mathiagency27@gmail.com</a>
                                            <b class="ms-2">Phone : </b> <a href="">8798768768</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="border-bottom mb-1"><b>PO Date : </b><span>28/12/2021</span></div>
                                    <div class="border-bottom mb-1"><b>PO No : </b><span>SUKRA/21-22/162</span></div>
                                    <div class="border-bottom mb-1"><b>Validity Of PO : </b><span>1 week</span></div>
                                    <div class="border-bottom mb-1"><b>Vendor GST PO : </b><span>33324SDF2341</span></div>
                                    <div><b>Vendor PAN PO : </b><span>HJAS343244324</span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <table class="table mb-0 table-bordered">
                        <thead>
                            <tr>
                                <th>S. No</th>
                                <th>Perticulars</th>
                                <th>Quantity (MT)</th>
                                <th>Unit Rate (Rs.)</th>
                                <th>Amount (Rs.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>20 MM Aggregates</td>
                                <td>75.0</td>
                                <td>1,250.00</td>
                                <td>93,750.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 MM Aggregates</td>
                                <td>75.0</td>
                                <td>1,250.00</td>
                                <td>93,750.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>MSand</td>
                                <td>75.0</td>
                                <td>1,250.00</td>
                                <td>93,750.00</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b>Delivery Site</b>
                                </td>
                                <td colspan="2">
                                    <b>Total Value (Rs.) </b>
                                </td>
                                <td>
                                    200,250.00
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="fw-bold">SUKRA CONCRETE PRIVATE LIMITED</h6>
                                    <p class="mb-0"><b>Address : </b>1st Street, RNC Nagar, Cheyyur, Tamilnadu</p>
                                </td>
                                <td colspan="3">
                                    <div class="border-bottom mb-1">
                                        <span>GST @ 28.0%</span>
                                        <span class="float-end">82,950.00</span>
                                    </div>
                                    <div class="border-bottom mb-1">
                                        <span>CGST 14.0%</span>
                                        <span class="float-end">41,950.00</span>
                                    </div>
                                    <div class="border-bottom mb-1">
                                        <span>SGST 28.0%</span>
                                        <span class="float-end">41,950.00</span>
                                    </div>
                                    <div class="border-bottom mb-1">
                                        <span>Round Off</span>
                                        <span class="float-end"></span>
                                    </div>
                                    <div >
                                        <b>Total (Rs)</b>
                                        <span class="float-end">379,200.00</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2"><b>Total (Rs)</b></td>
                                <td><span class="float-end">379,200.00</span></td>
                            </tr>
                            <tr>
                                <td colspan="5"><b>Amount Word : </b> <span>Three lakh seventy nine thousand two hundred.</span></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div>
                                        <b>Payment Terms : </b><br>
                                        <span>1 days against Supply of Material and Plant</span>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div><b>Delivery Period : </b><span>Immediate</span></div>
                                    <div><b>Mode of Transport : </b><span>Road</span></div>
                                </div>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <div>
                                        <b>Other Terms : </b>
                                        <ol class="mb-0">
                                            <li>The above value are inclusive of all taxes.</li>
                                            <li>Rate mentioned is on for Basis.</li>
                                            <li>Transportation and toll charges included in above value.</li>
                                        </ol>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <h6 class="fw-bold text-center ">FOR SUKRA CONCRETE PRIVATE LIMITED.</h6>
                                    <div class="small text-center mt-5">Authorized Signatory</div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>



        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"><i class="fa fa-close"></i></button>
            <button type="button" class="btn btn-blue btn-sm float-start text-white" id="print" ><i class="fa fa-print me-2"></i> PRINT</button>
            

        </div>
    </div>
</div>

<!-- delete Modal for admin -->
<div class="modal fade" id="deleteMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header py-2 bg-danger text-white">
          <h5 class="modal-title fw-bold small" id="exampleModalLabel">DELETE PRODUCT</h5>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete ?</h5>
        </div>
        <div class="modal-footer border-0 py-2">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="button" data-col="id" data-url="vendors" data-id="" class="btn btn-danger dlt btn-sm">DELETE</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $('.purchaseMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = 'http://127.0.0.1:8000/api/'
            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')
            var agencyid = $('#user-id').attr('data-id')

            $('#example').DataTable()

            // print option using quotations
            $('#print').click(function(){
                $("#quotations").printThis({ 
                    debug: false,              
                    importCSS: true,             
                    importStyle: true,         
                    printContainer: true,       
                    loadCSS: "../css/style.css", 
                    pageTitle: false,             
                    removeInline: false,        
                    printDelay: 200,            
                    header: false,             
                    formValues: true          
                }); 
            })



            // delete method
            var deleteProduct = document.getElementById('deleteMethod')
                deleteProduct.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var id = button.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                $('#deleteMethod .dlt').attr('data-id', id)
                DELETEMethod()
            })

            function DELETEMethod() {
                $('#deleteMethod .dlt').click(function () {
                    var customurl = $(this).attr('data-url')
                    var key = $(this).attr('data-col')
                    var value = $(this).attr('data-id')
                    var baseurl = url + customurl + '/' + value
                    var params = { [key]: value };
                    $.ajax({
                        type: "DELETE",
                        url: baseurl,
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(params),
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                    });
                    $('.row_' + value).remove()
                    $('#deleteMethod').modal('toggle');
                })
            }


            $('.deleteForUser').click(function(e){
                e.preventDefault()
                if (confirm('Are you sure you want to delete?')) {

                    var _obj = JSON.stringify({'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                    var params = {
                        "Notifications": _obj,
                        'csrfmiddlewaretoken': csrftoken,
                        'Types': $(this).attr('data-method'),
                        'User': $('#userid').html()
                    }
                    // console.log(params)
                    $.post(base+'post-api/notifications/', params, function(req, res){
                        console.log(req)
                        console.log(res)
                    })

                } 
            })

        })
    </script>
{% endblock %})