
{% extends "_base.html" %}


{% block content %}

<div class="container">
    <div class="row mt-3">  
        <!-- welcome section -->
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Agencies</h5>
        </div>

        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3">

                {% if request.user.is_superuser %}
                    <a  class="btn btn-sm btn-primary float-end addagency" href="{% url 'add-agency' %}" ><i class="fa fa-plus me-1"></i> Add</a>
                {% endif %}
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr >
                            <th scope="col">Name</th>
                            <th scope="col">Bank Account</th>
                            <th scope="col">User</th>
                            <th scope="col">Status</th>
                            {% if request.user.is_superuser %}
                                <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.agency_obj %}
                            <tr >
                                <td >
                                    <div class="text-capitalize"><span>{{i.Agency_Name}}</span>
                                        <a href="tel:{{i.Phone}}" class="text-decoration-none ms-2 text-success"><i class="fa fa-phone"></i></a>
                                        <a href="mailto:{{i.Email}}" class="text-decoration-none text-danger"><i class="ms-2 fa fa-envelope"></i> </a>
                                    </div>
                                    <div class="text-capitalize"><b>Gst</b> : {{i.GST_Number}}</div>
                                    <div class="text-capitalize"><b>Pan</b> : {{i.PAN_Number}}</div>
                                </td>
                                <td >
                                    <div id="carouselExampleControls{{i.id}}" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for j in i.Bank_Account.all %}
                                                {% if forloop.counter == 1  %}
                                                    <div class="carousel-item active">
                                                {% else %}
                                                    <div class="carousel-item">
                                                {% endif %}
                                                        <div>
                                                            <div><b>AC No : </b>{{j.Account_Number}} <a href="tel:{{j.Register_Phone}}" class="text-decoration-none ms-2 text-success"><i class="fa fa-phone"></i> </a> <a href="mailto:{{j.Register_Email}}" class="text-decoration-none"><i class="ms-2 fa fa-envelope"></i></a></div>
                                                            <div class="text-capitalize"><b>IFSC : </b>{{j.IFSC_Code}} <br><b>Branch : </b> {{j.Branch}}</div>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{i.id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 1.2rem;height: 1.2rem;"></span>
                                            <span class="visually-hidden">Previous</span>
                                          </button>
                                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{i.id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true" style="width: 1.2rem;height: 1.2rem;"></span>
                                            <span class="visually-hidden">Next</span>
                                          </button>
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    {% for j in i.Certificates.all %}
                                    <div>
                                        {{j.Certificate_Name}} <a href="media/{{j.Certificate_Scan_Copy}}" class="ms-1 text-blue" download><i class="fa fa-download"></i></a>
                                    </div> 
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if i.Active == True %}
                                        <span class="badge bg-success agency_active" style="cursor: pointer;" agency-id="{{i.id}}">Active</span>
                                    {% else%}
                                        <span class="badge bg-danger agency_active" style="cursor: pointer;" agency-id="{{i.id}}">In Active</span> 
                                    {% endif %}
                                </td>
                                
                                {% if user.is_superuser %}
                                    <td>
                                        <a href="update-agency/{{i.id}}"  class="me-2 text-warning"><i class="fa fa-edit"></i></a>
                                        <a href="{{i.id}}" class="text-danger deleteagency"><i class="fa fa-trash"></i></a>
                                    </td>
                                {% endif %}
        
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 
<!-- Modal -->
<div class="modal fade" id="add_agency" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content ">
        <div class="modal-header py-2 border-0">
          <h5 class="modal-title header" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-1 pb-4">
            <form class="row agency-validation" novalidate>
                <div class="col-12">
                    <div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert">

                    </div>
                </div>

                <div class="col-md-12">
                  <label for="agencyname" class="form-label fw-bolder">Name</label>
                  <input type="text" class="form-control" id="agencyname" placeholder="Enter Name." required>
                  <div class="invalid-feedback">
                    Please provide a name.
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                    <label for="phone" class="form-label fw-bolder">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter Phone." required>
                    <div class="invalid-feedback">
                      Please provide a phone.
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <label for="email" class="form-label fw-bolder">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter E-Mail." required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-sm btn-primary"></button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){

            $('.agencyMenu').addClass('active')
            var base = 'http://127.0.0.1:8000/'
            var url = base+'api/'

            var csrftoken = $('meta[name="csrf-token"]').attr('content')
            var userid = $('#user-id').attr('data-id')

            $.ajaxSetup({
                headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
            });

            $('.agency_active').click(function(e){
                var id = $(this).attr('agency-id')
                $.get(base+'agencies/update-agencies/'+id, function (res) {
                    if (res.status == 200) {
                        setTimeout(() => {
                            location.reload()
                        }, 100)
                    }
                })
            })

            $('#example').DataTable()

            // delete agency onclick
            $('.deleteagency').click(function(e){
                e.preventDefault()
                var id = $(this).attr('href')
                if (confirm('Are you sure you want to delete this ?')) {
                    // Save it!
                    var params = {
                        'id':id
                    }
                    console.log(params)
                    $.ajax({
                        type: "DELETE",
                        url: url+'agency/'+id+'/',
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(params),
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, 
                        success: function (response) {
                            setTimeout(() => {
                                location.reload()
                            },1000)
                        },
                    });
                }
            })


            $('.deleteForUser').click(function(e){
                e.preventDefault()
                if (confirm('Are you sure you want to delete?')) {

                    var _obj = JSON.stringify({'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                    var params = {
                        "Notifications": _obj,
                        'csrfmiddlewaretoken': csrftoken,
                        'Types': $(this).attr('data-method'),
                        'User': $('#userid').html()
                    }
                    // console.log(params)
                    $.post(base+'post-api/notifications/', params, function(req, res){
                        console.log(req)
                        console.log(res)
                    })

                } 
            })

        })
    </script>
    <style>
        .fa-edit, .fa-trash{
            font-size: 18px;
        }

    </style>
{% endblock %})