{% extends "_base.html" %}


{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 my-auto text-capitalize">
            <h5 class="fw-bold">Expences</h5>
        </div>
        <div class="col-md-4 text-capitalize">

            <select class="form-select float-end" id="expenceType" aria-label="Floating label select example">
                <option value="tea" selected>Tea Expence</option>
                <option value="petrol">Petrol Expence</option>
                <option value="other">Other Expence</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <a class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#ExpenceModal"><i
                        class="fa fa-plus me-1"></i> Add</a>
                <table id="ExpenceTable" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr>
                            <th scope="col">Morning</th>
                            <th scope="col">Evening</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>5</td>
                            <td>Rs.10</td>
                            <td>Rs.100</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>6</td>
                            <td>Rs.10</td>
                            <td>Rs.100</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5</td>
                            <td>Rs.10</td>
                            <td>Rs.80</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>10</td>
                            <td>Rs.10</td>
                            <td>Rs.150</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>16</td>
                            <td>Rs.10</td>
                            <td>Rs.300</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5</td>
                            <td>Rs.10</td>
                            <td>Rs.80</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>5</td>
                            <td>Rs.10</td>
                            <td>Rs.100</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>6</td>
                            <td>Rs.10</td>
                            <td>Rs.100</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5</td>
                            <td>Rs.10</td>
                            <td>Rs.80</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>10</td>
                            <td>Rs.10</td>
                            <td>Rs.150</td>
                            <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"
                                    data-bs-target="#deleteMethod" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-trash"></i></a>
                                <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal"
                                    data-bs-target="#ExpenceModal" data-bs-whatever="#"><i
                                        class="fa fa-lg fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ExpenceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header py-2 border-0">
                <h5 class="modal-title header" id="exampleModalLabel">Tea Expence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1 pb-4">
                <form class="row agency-validation" novalidate>
                    <div class="col-12">
                        <div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert">
                        </div>
                    </div>
                    <div class="col-md-6 mt-2 pe-1">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Morning" placeholder="Morning" value="">
                            <label for="Morning">Morning</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2 ps-1">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Evening" placeholder="Evening" value="">
                            <label for="Evening">Evening</label>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2 ">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Rate" placeholder="Rate" value="">
                            <label for="Rate">Rate</label>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-sm edit btn-primary float-end">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- delete Modal for admin -->
<div class="modal fade" id="deleteMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2 bg-danger text-white">
                <h5 class="modal-title fw-bold small" id="exampleModalLabel">DELETE PRODUCT</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete ?</h5>
            </div>
            <div class="modal-footer border-0 py-2">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" data-col="id" data-url="products" data-id=""
                    class="btn btn-danger dlt btn-sm">DELETE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.expenceMenu').addClass('active')

        $('#ExpenceTable').DataTable()
        // $('#ExpenceTable').on( 'change', '#expenceType', function () {
        $('#expenceType').change(function () {
            if ($(this).val() == 'tea') {
                $('#ExpenceTable').html('<thead class="table-dark text-capitalize"><tr><th scope="col">Morning</th><th scope="col">Evening</th><th scope="col">Rate</th><th scope="col">Total</th><th scope="col">Action</th></tr></thead><tbody><tr><td>5</td><td>5</td><td>Rs.10</td> <td>Rs.100</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"data-bs-target="#deleteMethod" data-bs-whatever="#"><iclass="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>4</td><td>6</td><td>Rs.10</td><td>Rs.100</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>3</td><td>5</td><td>Rs.10</td><td>Rs.80</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>5</td><td>10</td><td>Rs.10</td><td>Rs.150</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>14</td><td>16</td><td>Rs.10</td><td>Rs.300</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"  data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a> <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>3</td><td>5</td><td>Rs.10</td><td>Rs.80</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>5</td><td>5</td><td>Rs.10</td> <td>Rs.100</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"data-bs-target="#deleteMethod" data-bs-whatever="#"><iclass="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>4</td><td>6</td><td>Rs.10</td><td>Rs.100</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>3</td><td>5</td><td>Rs.10</td><td>Rs.80</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>5</td><td>10</td><td>Rs.10</td><td>Rs.150</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>14</td><td>16</td><td>Rs.10</td><td>Rs.300</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal"  data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a> <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>3</td><td>5</td><td>Rs.10</td><td>Rs.80</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr></tbody>')
                $('#ExpenceModal .modal-title').html('Tea Expence')
                $('#ExpenceModal .modal-body').html('<form id="teaExpenceForm" class="row agency-validation" novalidate><div class="col-12"><div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert"></div></div><div class="col-md-6 mt-2 pe-1"><div class="form-floating"><input type="text" class="form-control" id="Morning" placeholder="Morning" value=""><label for="Morning">Morning</label></div></div><div class="col-md-6 mt-2 ps-1"><div class="form-floating"><input type="text" class="form-control" id="Evening" placeholder="Evening" value=""><label for="Evening">Evening</label></div></div><div class="col-md-12 mt-2 "><div class="form-floating"><input type="text" class="form-control" id="Rate" placeholder="Rate" value=""><label for="Rate">Rate</label></div> </div><div class="col-md-12 mt-3"><button type="submit" class="btn btn-sm edit btn-primary float-end">Save</button></div></form>')
            }
            if ($(this).val() == 'petrol') {
                $('#ExpenceTable').html('<thead class="table-dark text-capitalize"><tr><th scope="col">Amount Transfered</th><th scope="col">Date of Transfered</th><th scope="col">Date of Amount Expired</th><th scope="col">Action</th></tr></thead><tbody><tr><td>Rs.3000</td><td>03.12.2021</td><td>03.12.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.5000</td><td>06.11.2021</td><td>07.11.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.10000</td><td>03.10.2021</td><td>03.10.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.3000</td><td>11.10.2021</td><td>11.10.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.3000</td><td>03.12.2021</td><td>03.12.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.5000</td><td>06.11.2021</td><td>07.11.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.10000</td><td>03.10.2021</td><td>03.10.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Rs.3000</td><td>11.10.2021</td><td>11.10.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr></tbody>')
                $('#ExpenceModal .modal-title').html('Petrol Expence')
                $('#ExpenceModal .modal-body').html('<form id="petrolExpenceForm" class="row agency-validation" novalidate><div class="col-12"><div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert"></div></div><div class="col-md-12 mt-2 pe-2"><div class="form-floating"><input type="text" class="form-control" id="AmountTransfered" placeholder="Amount Transfered" value=""><label for="AmountTransfered">Amount Transfered</label></div></div><div class="col-md-6 mt-2 pe-1"><div class="form-floating"><input type="text" class="form-control" id="DateOfTransfered" placeholder="Date Of Transfered" value=""><label for="DateOfTransfered">Date Of Transfered</label></div></div><div class="col-md-6 ps-1 mt-2 "><div class="form-floating"><input type="text" class="form-control" id="DateOfAmountExpired" placeholder="Date Of Amount Expired" value=""><label for="DateOfAmountExpired">Date Of Amount Expired</label></div> </div><div class="col-md-12 mt-3"><button type="submit" class="btn btn-sm edit btn-primary float-end">Save</button></div></form>')
            }
            if ($(this).val() == 'other') {
                $('#ExpenceTable').html('<thead class="table-dark text-capitalize"><tr><th scope="col">Expence Reason</th><th scope="col">Material</th><th scope="col">Amount</th><th scope="col">Date</th><th scope="col">Action</th></tr></thead><tbody><tr><td>Lunch</td><td>Food</td><td>Rs.1200</td><td>03.12.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Dinner</td><td>Food</td><td>Rs.1500</td><td>13.11.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Lorry BreakDown</td><td>Repair</td><td>Rs.500</td><td>20.10.2021</td> <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a> <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Breakfast</td><td>Food</td><td>Rs.800</td><td>13.09.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Lunch</td><td>Food</td><td>Rs.1200</td><td>03.12.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Dinner</td><td>Food</td><td>Rs.1500</td><td>13.11.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Lorry BreakDown</td><td>Repair</td><td>Rs.500</td><td>20.10.2021</td> <td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a> <a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr><tr><td>Breakfast</td><td>Food</td><td>Rs.800</td><td>13.09.2021</td><td><a href="#" class="me-2 text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="#"><i class="fa fa-lg fa-trash"></i></a><a href="#" class="me-2 text-warning add_agency" data-bs-toggle="modal" data-bs-target="#ExpenceModal" data-bs-whatever="#"><i class="fa fa-lg fa-edit"></i></a></td></tr></tbody>')
                $('#ExpenceModal .modal-title').html('Other Expence')
                $('#ExpenceModal .modal-body').html('<form id="otherExpenceForm" class="row agency-validation" novalidate><div class="col-12"><div class="alert alert-success d-none p-2 alert-dismissible fade show" role="alert"></div></div><div class="col-md-12 mt-2 pe-2"><div class="form-floating"><input type="text" class="form-control" id="ExpenceReason" placeholder="Expence Reason" value=""><label for="ExpenceReason">Expence Reason</label></div></div><div class="col-md-6 mt-2 pe-1"><div class="form-floating"><input type="text" class="form-control" id="Material" placeholder="Material" value=""><label for="Material">Material</label></div></div><div class="col-md-6 mt-2 ps-1"><div class="form-floating"><input type="text" class="form-control" id="Amount" placeholder="Amount" value=""><label for="Amount">Amount</label></div></div><div class="col-md-12 mt-2 "><div class="form-floating"><input type="date" class="form-control" id="Date" placeholder="Date"value=""><label for="Date">Date</label></div></div><div class="col-md-12 mt-3"><button type="submit" class="float-end btn btn-sm edit btn-primary">Save</button></div></form>')
            }
        })
    })
</script>
{% endblock %})