{% extends "_base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Loan Management</h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3 mb-4">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <p class="mb-1"><span class="fw-bold">Agency Name : </span>Hari Agency</p>
                        <p class="mb-1"><span class="fw-bold">GST_Number : </span>324234324234</p>
                        <p class="mb-1"><span class="fw-bold">PAN_Number : </span>324234234</p>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-1"><span class="fw-bold">Address : </span>Ascendas Tharamani</p>
                        <p class="mb-1"><span class="fw-bold">City : </span>Chennai-600081</p>
                        <p class="mb-1"><span class="fw-bold">State : </span>Tamil Nadu</p>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-1"><span class="fw-bold">Email : </span>hariagencies@gmail.com</p>
                        <p class="mb-1"><span class="fw-bold">Phone : </span>2387472323</p>
                        <p class="mb-1"><span class="fw-bold">Tin : </span>3242342345435</p>
                    </div>
                </div>

                <a href="" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal"
                    data-bs-target="#AddLoanModal"><i class="fa fa-plus me-1"></i> Add</a>
                <table id="example" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Released</th>
                            <th scope="col">Maturity</th>
                            <th scope="col">Repayment</th>
                            <th scope="col">Principal</th>
                            <th scope="col">Fess</th>
                            <th scope="col">Penality</th>
                            <th scope="col">Due</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">hari agency</p>
                                <small class="text-secondary">LOAN #1012342434</small>
                            </td>
                            <td>10.12.2021</td>
                            <td>10.05.2022</td>
                            <td>Monthly</td>
                            <td>
                                <p class="mb-0">2000</p>
                                <small class="text-secondary">@20% per year</small>
                            </td>
                            <td>300</td>
                            <td>0</td>
                            <td>
                                <p class="mb-0">2500</p>
                                <small class="text-danger">Overdue</small>
                            </td>
                            <td>2300</td>
                            <td>200</td>
                            <td>
                                <a href="" class="text-success" data-bs-toggle="modal"
                                    data-bs-target="#AddRepaymentModal" data-bs-whatever="@mdo"><i
                                        class="fa fa-lg fa-plus"></i></a>
                                <a href="" class="text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#LoanDetails"><i class="fa fa-lg ms-2 fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">hari agency</p>
                                <small class="text-secondary">LOAN #1012342434</small>
                            </td>
                            <td>10.12.2021</td>
                            <td>10.05.2022</td>
                            <td>Monthly</td>
                            <td>
                                <p class="mb-0">2000</p>
                                <small class="text-secondary">@20% per year</small>
                            </td>
                            <td>300</td>
                            <td>0</td>
                            <td>
                                <p class="mb-0">2500</p>
                                <small class="text-danger">Overdue</small>
                            </td>
                            <td>2300</td>
                            <td>200</td>
                            <td>
                                <a href="" class="text-success" data-bs-toggle="modal"
                                    data-bs-target="#AddRepaymentModal" data-bs-whatever="@mdo"><i
                                        class="fa fa-lg fa-plus"></i></a>
                                <a href="" class="text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#LoanDetails"><i class="fa fa-lg ms-2 fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">hari agency</p>
                                <small class="text-secondary">LOAN #1012342434</small>
                            </td>
                            <td>10.12.2021</td>
                            <td>10.05.2022</td>
                            <td>Monthly</td>
                            <td>
                                <p class="mb-0">2000</p>
                                <small class="text-secondary">@20% per year</small>
                            </td>
                            <td>300</td>
                            <td>0</td>
                            <td>
                                <p class="mb-0">2500</p>
                                <small class="text-danger">Overdue</small>
                            </td>
                            <td>2300</td>
                            <td>200</td>
                            <td>
                                <a href="" class="text-success" data-bs-toggle="modal"
                                    data-bs-target="#AddRepaymentModal" data-bs-whatever="@mdo"><i
                                        class="fa fa-lg fa-plus"></i></a>
                                <a href="" class="text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#LoanDetails"><i class="fa fa-lg ms-2 fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">hari agency</p>
                                <small class="text-secondary">LOAN #1012342434</small>
                            </td>
                            <td>10.12.2021</td>
                            <td>10.05.2022</td>
                            <td>Monthly</td>
                            <td>
                                <p class="mb-0">2000</p>
                                <small class="text-secondary">@20% per year</small>
                            </td>
                            <td>300</td>
                            <td>0</td>
                            <td>
                                <p class="mb-0">2500</p>
                                <small class="text-danger">Overdue</small>
                            </td>
                            <td>2300</td>
                            <td>200</td>
                            <td>
                                <a href="" class="text-success" data-bs-toggle="modal"
                                    data-bs-target="#AddRepaymentModal" data-bs-whatever="@mdo"><i
                                        class="fa fa-lg fa-plus"></i></a>
                                <a href="" class="text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#LoanDetails"><i class="fa fa-lg ms-2 fa-eye"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">hari agency</p>
                                <small class="text-secondary">LOAN #1012342434</small>
                            </td>
                            <td>10.12.2021</td>
                            <td>10.05.2022</td>
                            <td>Monthly</td>
                            <td>
                                <p class="mb-0">2000</p>
                                <small class="text-secondary">@20% per year</small>
                            </td>
                            <td>300</td>
                            <td>0</td>
                            <td>
                                <p class="mb-0">2500</p>
                                <small class="text-danger">Overdue</small>
                            </td>
                            <td>2300</td>
                            <td>200</td>
                            <td>
                                <a href="" class="text-success" data-bs-toggle="modal"
                                    data-bs-target="#AddRepaymentModal" data-bs-whatever="@mdo"><i
                                        class="fa fa-lg fa-plus"></i></a>
                                <a href="" class="text-success" data-bs-toggle="offcanvas"
                                    data-bs-target="#LoanDetails"><i class="fa fa-lg ms-2 fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Repayment -->
<div class="modal fade" id="AddRepaymentModal" tabindex="-1" aria-labelledby="AddRepaymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Repayment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="final_invoice">
                <form class="row" action="">
                    <div class="col-md-6 pe-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                            <label for="Name">Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 ps-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Loan #" placeholder="Loan #">
                            <label for="Loan #">Loan #</label>
                        </div>
                    </div>
                    <div class="col-md-6 pe-1">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="Collection Date" placeholder="Collection Date">
                            <label for="Collection Date">Collection Date</label>
                        </div>
                    </div>
                    <div class="col-md-6 ps-1">
                        <div class="form-floating">
                            <select class="form-select" id="Method" aria-label="Floating label select example">
                                <option selected>Method</option>
                                <option value="1">Cash</option>
                                <option value="2">Card</option>
                                <option value="3">UPI</option>
                            </select>
                            <label for="Method">Works with selects</label>
                        </div>
                    </div>
                    <div class="col-md-6 pe-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Collected By" placeholder="Collected By">
                            <label for="Collected By">Collected By</label>
                        </div>
                    </div>

                    <div class="col-md-6 ps-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Paid Amount" placeholder="Paid Amount">
                            <label for="Paid Amount">Paid Amount</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn float-end btn-sm btn-primary" type="submit">Submit</button>
                        <button type="button" class="btn float-end btn-sm btn-danger me-2"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Loan -->
<div class="modal fade" id="AddLoanModal" tabindex="-1" aria-labelledby="AddLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Loan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="final_invoice">
                <form class="row" action="">
                    <div class="col-md-6 pe-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                            <label for="Name">Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 ps-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="principal" placeholder="principal">
                            <label for="principal">principal</label>
                        </div>
                    </div>
                    <div class="col-md-4 pe-1">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="Released" placeholder="Released">
                            <label for="Released">Released</label>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="Maturity" placeholder="Maturity">
                            <label for="Maturity">Maturity</label>
                        </div>
                    </div>
                    <div class="col-md-4 ps-1">
                        <div class="form-floating">
                            <select class="form-select" id="Repayment" aria-label="Floating label select example">
                                <option selected>Repayment</option>
                                <option value="1">Monthly</option>
                                <option value="2">3 Months Once</option>
                                <option value="2">6 Months Once</option>
                            </select>
                            <label for="Repayment">Repayment</label>
                        </div>
                    </div>
                    <div class="col-md-6 pe-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Fees" placeholder="Fees">
                            <label for="Fees">Fees</label>
                        </div>
                    </div>
                    <div class="col-md-6 ps-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Penality" placeholder="Penality">
                            <label for="Penality">Penality</label>
                        </div>
                    </div>
                    <div class="col-md-4 pe-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Due" placeholder="Due">
                            <label for="Due">Due</label>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Paid" placeholder="Paid">
                            <label for="Paid">Paid</label>
                        </div>
                    </div>
                    <div class="col-md-4 ps-1">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="Balance" placeholder="Balance">
                            <label for="Balance">Balance</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn float-end btn-sm btn-primary" type="submit">Submit</button>
                        <button type="button" class="btn float-end btn-sm btn-danger me-2"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Loan Details -->
<div class="offcanvas offcanvas-bottom" style="height: 60%;" tabindex="-1" id="LoanDetails"
    aria-labelledby="LoanDetailsLabel">
    <!-- <div class="offcanvas-header">
        <h5 id="LoanDetailsLabel">Payment Details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div> -->
    <div class="offcanvas-body">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>Name</td>
                    <td>Loan #</td>
                    <td>Method</td>
                    <td>Collected By</td>
                    <td>Collection Date</td>
                    <td>Paid Amount</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Hari Agency</td>
                    <td>#1012342434</td>
                    <td>Cash</td>
                    <td>Raju</td>
                    <td>12.12.2021</td>
                    <td>2300</td>
                    <td>
                        <a href="" class="text-warning"><i class="fa fa-lg fa-edit"></i></a>
                        <a href="" class="text-danger" data-bs-toggle="offcanvas" data-bs-target="#LoanDetails"><i
                                class="fa fa-lg ms-2 fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.LoanMenu').addClass('active')
    })

</script>
{% endblock %})