<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- font awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- data table cdn -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta name="csrf-token" content="{{ csrf_token }}">
    {% if request.user.is_authenticated %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    {% endif %}
</head>

<body>

    {% if request.user.is_authenticated %}
    <div class="container-fluid">
        <div id="userid" class="d-none">{{request.user.id}}</div>
        <div class="row">
            {% include '_sidebar.html' with company_name=obj.agency_obj %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-0">
                <div
                    class="d-flex bg-danger px-4 justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 border-0">

                    <h1 class="h4 heading mb-0 fw-bold text-white text-uppercase">
                        <span class="agency"></span> <b class="text-primary fa-12">( <span></span> ) </b>
                    </h1>

                    <div class="btn-toolbar mb-2 mb-md-0">

                        <button type="button" id="attendance" class="btn btn-sm btn-success py-0 me-3 fw-bold"
                            action="punch-in">PUNCH IN</button>
                        {% if user.is_superuser %}
                        <div class="dropdown notification_panel me-2">
                            <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false"
                                class="btn dropdown-toggle btn-sm btn-default ps-0 pe-2 notification">
                                <i class="fa fa-bell text-white"></i><span class="badge bg-success "></span>
                            </button>
                            <ul class="dropdown-menu px-2 notificationscroll" style="overflow-y: scroll;height: 400px;"
                                aria-labelledby="dropdownMenuButton1">
                                <h3 class="fw-bold mb-3" style="font-size: 18px;">Notifications</h3>
                                <li class="order-notification">
                                    <a href="" class="text-reset" data-bs-toggle="modal" data-bs-target="#orderModel">
                                        <h5 class="fw-bold fa-14 mb-1">Acendas Company Order is Waiting for your
                                            Decision
                                        </h5>
                                        <div class="order-status">
                                            <small class="fa-12 ">Click to View Order Details</small>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="btn-group">
                            <a class="dropdown-toggle profile-dropdown" data-bs-toggle="dropdown"
                                data-bs-display="static" aria-expanded="false">
                                <div class="profile bg-white rounded-circle " style="width: 37px;height: 37px;">
                                    <p class="fw-bold mb-0 text-success p-2"
                                        style="font-size: 20px;right: -4px; position: relative;top: -5px;">R</p>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end border-0 shadow">
                                <li>
                                    <a class="text-reset text-decoration-none" href="#" data-bs-toggle="offcanvas"
                                        data-bs-target="#profilesettings">
                                        <button class="dropdown-item" type="button">
                                            <span class="me-2" data-feather="settings"></span>Profile</button>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-reset text-decoration-none" href="#">
                                        <button class="dropdown-item" type="button">
                                            <span class="me-2" data-feather="bell"></span>Notifications</button>
                                    </a>
                                </li>
                                <hr class="my-2">
                                <li>
                                    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                                        <button name="logut_form" class="dropdown-item" type="submit">
                                            <span class="me-2" data-feather="log-out"></span>Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Order Modal -->
                <div class="modal fade" id="orderModel" tabindex="-1" aria-labelledby="orderModelLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="orderModelLabel">Order Approval</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <table class="table w-100">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">Material Name</th>
                                                <th scope="col">Vendor Info</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Current Price</th>
                                                <th scope="col">PO Price</th>
                                                <th scope="col">Offer Price</th>
                                                <th scope="col">Final PO Price</th>
                                                <th scope="col">Final Offer Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>6MM Aggregates</td>
                                                <td>
                                                    <p class="mb-0 text-primary">Suresg g</p>
                                                    <p class="mb-0">Quary Transport <span
                                                            class="text-blue">(325455)</span></p>
                                                    <p class="mb-0"><i class="fa fa-map-marker"></i> : Chennai
                                                    </p>
                                                </td>
                                                <td>5</td>
                                                <td><input type="text" value="105" class="form-control"></td>
                                                <td><input type="text" value="500" class="form-control"></td>
                                                <td><input type="text" value="600" class="form-control"></td>
                                                <td><input type="text" value="1000" class="form-control"></td>
                                                <td><input type="text" value="800" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>6MM Aggregates</td>
                                                <td>
                                                    <p class="mb-0 text-primary">Suresg g</p>
                                                    <p class="mb-0">Quary Transport <span
                                                            class="text-blue">(325455)</span></p>
                                                    <p class="mb-0"><i class="fa fa-map-marker"></i> : Chennai
                                                    </p>
                                                </td>
                                                <td>5</td>
                                                <td><input type="text" value="105" class="form-control"></td>
                                                <td><input type="text" value="500" class="form-control"></td>
                                                <td><input type="text" value="600" class="form-control"></td>
                                                <td><input type="text" value="1000" class="form-control"></td>
                                                <td><input type="text" value="800" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>6MM Aggregates</td>
                                                <td>
                                                    <p class="mb-0 text-primary">Suresg g</p>
                                                    <p class="mb-0">Quary Transport <span
                                                            class="text-blue">(325455)</span></p>
                                                    <p class="mb-0"><i class="fa fa-map-marker"></i> : Chennai
                                                    </p>
                                                </td>
                                                <td>5</td>
                                                <td><input type="text" value="105" class="form-control"></td>
                                                <td><input type="text" value="500" class="form-control"></td>
                                                <td><input type="text" value="600" class="form-control"></td>
                                                <td><input type="text" value="1000" class="form-control"></td>
                                                <td><input type="text" value="800" class="form-control"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn float-end order-approved fw-bold btn-primary">Save
                                        changes</button>
                                    <button type="submit"
                                        class="btn float-end order-declined fw-bold btn-danger me-2">Decline</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {% block content %}

                {% endblock %}
            </main>
        </div>

    </div>

    {% else %}


    <div class="container px-5" id="loginpage">
        <div class="card mx-5 border-0 shadow-lg">
            <div class="row mx-0">
                <div class="col-md-6 p-3">
                    {% if not request.user.is_authenticated %}
                    <div class="mt-2 fw-bold text-center">
                        <p class="mb-1 text-secondary">Welcome To</p>
                        <h3 class="fw-bold text-uppercase text-primary">Hari Agency</h3>
                        <small class="text-secondary fw-normal">log in to get the moment updates that intrests
                            you</small>
                    </div>
                    <form class="needs-validation w-75 mx-auto" method="post" novalidate>
                        {% csrf_token %}
                        {% if error %}
                        <div class="alert alert-danger py-2 mt-3 alert-dismissible fade show" role="alert">
                            <strong>{{error}}</strong>
                            <button type="button" class="btn-close pt-3 pb-2 small" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        {% endif %}
                        <div class="form-floating mb-3 mt-4">
                            <input type="text" class="form-control" name="username" id="Email" placeholder="Username"
                                required>
                            <label for="floatingInput">Username</label>
                            <div class="invalid-feedback">
                                Username is required.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" required>
                            <label for="floatingPassword">Enter password</label>
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="Rememberme">
                            <label class="form-check-label" for="Rememberme">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-danger shadow rounded-pill w-100">SIGN IN</button>
                        <div class="mt-3 mb-2 text-center">
                            <a class="text-primary fw-bold text-decoration-none"
                                href="{% url 'forgetpassword' %}">Forget Password ?</a>
                        </div>
                    </form>
                    {% else %}
                    <div class="fw-bold text-center mt-5 pt-5">
                        <p class="mb-1 text-secondary">Log out</p>
                        <h3 class="fw-bold text-uppercase text-primary">Hari Agency</h3>
                        <small class="text-secondary fw-normal">You already logged in. You want to logout ?</small>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger shadow rounded-pill w-75 mt-4" href="{% url 'logout' %}">Logout</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6 loginimg text-white">
                    <div class="text-center text">
                        <h3 class="fw-bold text-uppercase">Hari Agency</h3>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, doloremque nisi
                            tenetur,
                            temporibus iure velit perferendis molestias sequi veniam similique labore quaerat ipsam
                            culpa eos ipsa hic distinctio officiis inventore.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
    <!-- j query cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- data table cdn js -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/printThis.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/index.js' %}"></script>
    {% if request.user.is_authenticated %}
    <meta id="user-id" data-id="{{request.user.id}}">
    <meta id="agencyid" data-id="">
    <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
    {% endif %}
</body>

<script>
    $(document).ready(function () {
        // select company name
        var base = 'http://127.0.0.1:8000/'
        var url = base + 'api/'
        var csrftoken = $('meta[name="csrf-token"]').attr('content')

        $.get(url + 'agency', function (data, status) {
            var active_agency = data.results.filter(p => p.Active == true)
            $('#agencyid').attr('data-id',active_agency[0].id)
        })

        // attendance functionality starts here
        attendances()
        function attendances() {
            var attendance = localStorage.getItem('attendance')
            let date = new Date()
            let Today = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;

            let y_d = new Date(new Date().setDate(new Date().getDate() - 1));
            let yesterday = `${y_d.getDate()}-${y_d.getMonth() + 1}-${y_d.getFullYear()}`;

            if (Today == attendance) {
                $('#attendance').attr('disabled', 'true').attr('action', 'punched-out').text('PUNCHED OUT').removeClass('btn-danger btn-warning').addClass('btn-success')
            } else {
                if (attendance == null || attendance == yesterday) {
                    localStorage.removeItem('attendance')
                } else {
                    $('#attendance').text('PUNCH OUT').removeClass('btn-danger').addClass('btn-warning').attr('action', 'punch-out')
                }
            }
        }

        $('#attendance').click(function (e) {
            var action = $(this).attr('action')

            if (action == 'punch-in') {
                var params = {
                    'User': $('#userid').text(),
                    'csrfmiddlewaretoken': csrftoken
                }

                $.post(url + 'attendances/', params, function (res) {
                    localStorage.setItem('attendance', res?.id)
                    attendances()
                })
            }

            if (action == 'punch-out') {

                var attendance_id = localStorage.getItem('attendance')
                var params = {
                    'Punch_Out_Time': new Date().toISOString(),
                    'id': attendance_id
                }

                $.ajax({
                    type: 'PATCH',
                    url: url + 'attendances/' + attendance_id + '/',
                    data: JSON.stringify(params),
                    processData: false,
                    contentType: "application/json",
                    dataType: "json",
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (response) {
                        let date = new Date()
                        let Today = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
                        localStorage.setItem('attendance', Today)
                        attendances()
                    },
                    error: function (response) {
                        alert('Network issue Try again later. !!!')
                    }
                });


            }

        })

        // attendanc functionality ends here

        $('#SelectCompany').change(function () {
            // store it in session
            var id = $(this).val()
            $.get(base + 'agencies/update-agencies/' + id, function (res) {
                if (res.status == 200) {
                    $('#agencyupdatestatus').text(res.message)
                    setTimeout(() => {
                        location.reload()
                    }, 500)
                }
            })
        })

    })
</script>

{% if user.is_superuser %}
<script>
    var base = 'http://127.0.0.1:8000/'
    var url = base + 'api/'
    var page = 1

    $.get(url + 'notifications/?format=datatables', function (res) {
        // console.log(res.data)

        var Notification_Count = res.data.filter(function (el) {
            return el.Status == false
        })
        var NC = String(Notification_Count.length).padStart(2, '0')
        $('.notification .badge').text(NC)
    })


    NotificationsAppend(1)

    function NotificationsAppend(id) {
        $.get(url + 'notifications/?page=' + id, function (res) {
            for (var i = 0; i < res.results.length; i++) {
                var result = res?.results[i]
                var notification = result?.Notifications.replace(/'/g, '"');
                var notification = JSON.parse(notification)

                status = res.results[i]?.Status == false ? 'active' : '';

                if (result?.Types == 'Add') {
                    $('.notification_panel ul').append('<li class="text-capitalize"><div class="text-dark px-2 fw-bold small" >' + notification['model'] + ' <span class="text-success">' + res.results[i]?.Types + 'ed</span> by ' + res?.results[i]?.User?.username + '</div><div class="small px-2 py-1" data-url="' + notification['model'] + '" data-id="' + notification['id'] + '"><a class="text-decoration-none" href="' + notification['id'] + '" data-url="' + notification['model'] + '">' + notification['model'] + '</a></div></li>')
                }
                if (result?.Types == 'Edit') {
                    $('.notification_panel ul').append('<li class="text-capitalize"><div class="text-dark px-2 fw-bold small" >' + notification['model'] + ' <span class="text-success">' + res.results[i]?.Types + 'ed</span> by ' + res?.results[i]?.User?.username + '</div><div class="small px-2 py-1" data-url="' + notification['model'] + '" data-id="' + notification['id'] + '"><a class="text-decoration-none" href="' + notification['id'] + '" data-url="' + notification['model'] + '">' + notification['model'] + '</a></div></li>')
                }
                if (status == 'active' && result?.Types == 'Delete') {
                    $('.notification_panel ul').append('<li class="' + status + ' text-capitalize"><div class="text-dark px-2 fw-bold small" ><span class="text-danger">' + res.results[i]?.Types + '</span> request send by ' + res?.results[i]?.User?.username + '</div><div class="small px-2 py-1" data-url="' + notification['model'] + '" data-id="' + notification['id'] + '"><a class="text-decoration-none" href="' + notification['id'] + '" data-url="' + notification['model'] + '">' + notification['model'] + '</a><span class="float-end"><i class="fa text-success me-1 fa-check pointer notification_alert" action="check" data-id="' + notification['id'] + '" data-url="' + notification['model'] + '"></i> <i class="fa fa-close text-danger pointer notification_alert" action="cancel" data-id="' + notification['id'] + '" data-url="' + notification['model'] + '"></i></span></div></li>')
                }

            }
            notifications()
        })
    }

    $(".notificationscroll").scroll(function () {
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            page = page + 1
            NotificationsAppend(page)
        }
    });

    function notifications() {

        $('.notification_alert').click(function (e) {
            e.preventDefault()
            var action = $(this).attr('action')
            var data_url = $(this).attr('data-url')
            var data_id = $(this).attr('data-id')
            console.log(action)

            if (action == 'check') {
                if (confirm('Are you sure you want to delete?')) {

                }
            }
        })
    }

    // order Notification
    $('.order-approved').click(function (e) {
        e.preventDefault()
        $('#orderModel').modal('hide')
        $('.order-status').html('<small class="fa-12 text-success">Order Approved</small>')
    })
    $('.order-declined').click(function (e) {
        e.preventDefault()
        $('#orderModel').modal('hide')
        $('.order-notification').remove()
    })

</script>

<style>
    .notification_panel .active {
        background: #f4f4f4;
    }

    .notification_panel li {
        border-bottom: 2px solid #e6e6e6;
    }

    .notification_panel {
        position: relative;
        top: 4px;
    }

    .notification_panel .badge {
        position: absolute;
        font-size: 10px;
        padding: 4px;
        top: -5px;
        left: 5px;
        border-radius: 30px;
    }

    .notification_panel .fw-bold {
        font-size: 10px;
        position: relative;
        top: 5px;
    }

    .pointer {
        cursor: pointer;
    }

    .notification_panel ul {
        min-width: 15rem !important;
        margin-top: .5rem !important;
    }
</style>
{% endif %}


{% block script %}
{% endblock %}

</html>