{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <div class="row mt-4">  
            <!-- welcome section -->
            <div class="col-md-12 text-capitalize">
                <h3 class="fw-bold mb-1">Welcome {{request.user}} !</h3>
                <p>Dashboard</p>
            </div>
            <!-- order counts  -->
            <div class="col-md-3">
                <div class="card box-2 p-3">
                    <div class="row">
                        <div class="col-4">
                            <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        </div>
                        <div class="col-8 text-end fw-bold ">
                            <h3 class="mb-1 fw-900">112</h3>
                            <span>Daily Orders</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- customer counts -->
            <div class="col-md-3">
                <div class="card box-2 p-3">
                    <div class="row">
                        <div class="col-4">
                            <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                        </div>
                        <div class="col-8 text-end fw-bold ">
                            <h3 class="mb-1 fw-900">112</h3>
                            <span>Total Purchase</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- vendor counts -->
            <div class="col-md-3">
                <div class="card box-2 p-3">
                    <div class="row">
                        <div class="col-4">
                            <span class="dash-widget-icon float-start"><i class="fa fa-diamond"></i></span>
                        </div>
                        <div class="col-8 text-end fw-bold ">
                            <h3 class="mb-1 fw-900">112</h3>
                            <span>Sales</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- emplyees counts -->
            <div class="col-md-3">
                <div class="card box-2 p-3">
                    <div class="row">
                        <div class="col-4">
                            <span class="dash-widget-icon float-start"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-8 text-end fw-bold ">
                            <h3 class="mb-1 fw-900">112</h3>
                            <span>Invoices</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!--  -->
            <div class="col-md-12 mt-4">
                <div class="row box-2 rounded mx-0">
                    <div class="col-3 px-0">
                        <div class="card border-0 p-3 rounded-0 border-end">
                            <h5 class="fw-bold">New Orders <span class="text-success float-end small">+10%</span></h5>
                            <h2 class="fw-900">100</h2>
                            <span>Overall orders 218</span>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="card border-0 p-3 rounded-0 border-end">
                            <h5 class="fw-bold">Earnings <span class="text-success small float-end">+10%</span></h5>
                            <h2 class="fw-900">100</h2>
                            <span>Previous Month <span class="text-muted">Rs 1,15,852</span></span>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="card border-0 p-3 rounded-0 border-end">
                            <h5 class="fw-bold">Expenses <span class="text-danger small float-end">+10%</span></h5>
                            <h2 class="fw-900">100</h2>
                            <span>Previous Month <span class="text-muted">Rs 1,15,852</span></span>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="card border-0 p-3 ">
                            <h5 class="fw-bold">Profit <span class="text-success small float-end">+10%</span></h5>
                            <h2 class="fw-900">100</h2>
                            <span>Previous Month <span class="text-muted">Rs 1,15,852</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <div class="col-md-4 mt-4">
                <div class="card box-2 ps-0 py-3 px-3">
                    <figure class="highcharts-figure mb-0">
                        <div id="container"></div>
                        <table id="datatable" class="d-none">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Expenses</th>
                                    <th>Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Apples</th>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <th>Pears</th>
                                    <td>2</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Plums</th>
                                    <td>5</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <th>Bananas</th>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th>Oranges</th>
                                    <td>2</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>

                    <script>
                        Highcharts.chart('container', {
                            data: {
                                table: 'datatable'
                            },
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Total Revenue'
                            },
                            yAxis: {
                                allowDecimals: false,
                                title: {
                                    text: 'Price'
                                }
                            },
                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.name + '</b><br/>' +
                                        this.point.y + ' ' + this.point.name.toLowerCase();
                                }
                            }
                        });
                    </script>
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="card box-2 p-3">
                    <h5 class="fw-bold">Delivery Statistics</h5>
                    <div class="row my-3">
                        <div class="col-6 pe-2">
                            <div class="card text-center bg-light p-2">
                                <small>Total Delivery</small>
                                <h2 class="fw-bold mb-0">385</h2>
                            </div>
                        </div>
                        <div class="col-6 ps-2">
                            <div class="card text-center bg-light p-2">
                                <small>Overdue Delivery</small>
                                <h2 class="fw-bold mb-0">35</h2>
                            </div>
                        </div>
                        <div class="col-12 mt-5 pt-2">
                            <ol class="list-group border-0 mt-3 list-group-numbered">
                                <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Completed Delivery</div>
                                  </div>
                                  <span class="fw-bold ">14</span>
                                </li>
                                <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Inprogress Delivery</div>
                                  </div>
                                  <span class="fw-bold ">14</span>
                                </li>
                                <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">On Hold Delivery</div>
                                  </div>
                                  <span class="fw-bold ">14</span>
                                </li>
                                <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Pending Delivery</div>
                                  </div>
                                  <span class="fw-bold ">14</span>
                                </li>
                                <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Feedbacks</div>
                                  </div>
                                  <span class="fw-bold ">14</span>
                                </li>
                              </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="card p-3 box-2 h-100 ">
                    <h5 class="fw-bold">Today Attendance</h5>


                    <ol class="list-group border-0  list-group-numbered">
                        <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                    </ol>

                </div>
            </div>

            <div class="col-6 mt-4">
                <div class="card p-3 box-2 mb-1">
                    <h5 class="fw-bold">Invoices <a href="" class="float-end text-decoration-none" style="font-size: 12px;position: relative;top: 5px;">View all</a></h5>
                    <table class="table mb-1 mt-2 ">
                        <thead class="table-light">
                            <tr>
                                <th>Invoice ID</th>
                                <th>Sales</th>
                                <th>Due Date</th>
                                <th>Total</th>
                                <th>Status</th>				
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning ">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning ">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-success ">Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-danger">UnPaid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-danger">UnPaid</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-6 mt-4">
                <div class="card p-3 box-2 mb-1">
                    <h5 class="fw-bold">Payments <a href="" class="float-end text-decoration-none" style="font-size: 12px;position: relative;top: 5px;">View all</a></h5>
                    <table class="table  mb-1 mt-2 ">
                        <thead class="table-light">
                            <tr>
                                <th>Invoice ID</th>
                                <th>Sales</th>
                                <th>Due Date</th>
                                <th>Total</th>
                                <th>Status</th>				
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning">Partially Paid</span></td>
                            </tr>
                            <tr>
                                <td class="text-blue">#INV-123432</td>
                                <td class="text-primary">L & T</td>
                                <td>11 Mar 2019</td>
                                <td>Rs 380</td>
                                <td><span class="badge badge-warning">Partially Paid</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-6 my-4">
                <div class="card p-3 box-2 mb-1">
                    <h5 class="fw-bold">Customers<a href="" class="float-end text-decoration-none" style="font-size: 12px;position: relative;top: 5px;">View all</a></h5>
                    <table class="table  mb-1 mt-2 ">
                        <thead class="table-light">
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th style="width: 20%;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Suresh</h6>
                                    <p class="mb-0 text-gray small">CEO</p>
                                </td>
                                <td>
                                    <i class="fa fa-envelope small text-danger"></i> : <a class="mb-0  small text-dark">is@gmail.com</a>
                                    <i class="fa fa-phone text-blue ms-2"></i> : <a class="mb-0  small text-dark">+91-9884857834</a>
                                </td>
                                <td><span class="badge badge-success badge-lg">Active</span></td>
                            </tr>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Karthick</h6>
                                    <p class="mb-0 text-gray small">CEO</p>
                                </td>
                                <td>
                                    <i class="fa fa-envelope small text-danger"></i> : <a class="mb-0  small text-dark">is@gmail.com</a>
                                    <i class="fa fa-phone text-blue ms-2"></i> : <a class="mb-0 small text-dark">+91-9884857834</a>
                                </td>
                                <td><span class="badge badge-danger badge-lg">In Active</span></td>
                            </tr>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Ramesh</h6>
                                    <p class="mb-0 text-gray small">CEO</p>
                                </td>
                                <td>
                                    <i class="fa fa-envelope small text-danger"></i> : <a class="mb-0  small text-dark">is@gmail.com</a>
                                    <i class="fa fa-phone text-blue ms-2"></i> : <a class="mb-0 small text-dark">+91-9884857834</a>
                                </td>
                                <td><span class="badge badge-success badge-lg">Active</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-6 my-4">
                <div class="card p-3 box-2 mb-1">
                    <h5 class="fw-bold">Recent Projects<a href="" class="float-end text-decoration-none" style="font-size: 12px;position: relative;top: 5px;">View all</a></h5>
                    <table class="table  mb-1 mt-2 ">
                        <thead class="table-light">
                            <tr>
                                <th>Sales Company</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Office Management</h6>
                                    <p class="mb-0 text-gray small">1 open tasks, 9 tasks completed</p>
                                </td>
                                <td><span class="badge badge-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Office Management</h6>
                                    <p class="mb-0 text-gray small">1 open tasks, 9 tasks completed</p>
                                </td>
                                <td><span class="badge badge-blue">On Going</span></td>
                            </tr>
                            <tr>
                                <td >
                                    <h6 class="mb-0 text-danger fw-bold">Office Management</h6>
                                    <p class="mb-0 text-gray small">1 open tasks, 9 tasks completed</p>
                                </td>
                                <td><span class="badge badge-success">Completed</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            
        </div>
    </div>


{% endblock %}



{% block script %}
<script>

    $(document).ready(function(){
        $('.dashboardMenu').addClass('active')
    })
    (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }



                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %})