$bg-primary: #e3324a radial-gradient(circle, transparent 1%, #e3324a 0) 50%/15000%;
$bg-success: #007a6f linear-gradient(90deg, #009587, #009587);
$primary: #e3324a;
$success: #009587;
$dark: #34444c;
$blue: #0a58ca;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");
body {
    font-family: "Source Sans Pro", sans-serif !important;
    background: #f7f7f7;
}
a {
    color: #dc3545;
    text-decoration: none !important;
}
a:hover {
    color: #dc3545ad;
}
.text-primary {
    color: $primary !important;
}
.text-success {
    color: $primary !important;
}
.bg-dark {
    background-color: $dark !important;
}
.bg-primary {
    background-color: $success !important;
    border-color: #009587 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: unset !important;
}
.text-dark {
    color: $dark !important;
}
.text-blue {
    color: $blue !important;
}
.text-success {
    color: $success !important;
}

.btn-danger {
    background: $bg-primary !important;
}
.btn-primary {
    background: #007a6f -webkit-gradient(linear, left top, right top, from(#009587), to(#009587)) !important;
    background: #007a6f linear-gradient(90deg, #009587, #009587) !important;
    border-color: #009587 !important;
    background-position: 50%;
    -webkit-transition: background 3s;
    transition: background 3s;
}
.btn-blue {
    background: #0a58ca !important;
    background: #0a58ca !important;
    border-color: #0a58ca !important;
    background-position: 50%;
    -webkit-transition: background 3s;
    transition: background 3s;
}
.page-item.active .page-link {
    background: #007a6f -webkit-gradient(linear, left top, right top, from(#009587), to(#009587)) !important;
    background: #007a6f linear-gradient(90deg, #009587, #009587) !important;
    border-color: #009587 !important;
}
.profile-dropdown {
    cursor: pointer;
}
.profile-dropdown::after {
    display: none !important;
}
.fa-10 {
    font-size: 10px !important;
}
.fa-12 {
    font-size: 12px !important;
}
.fa-14 {
    font-size: 14px !important;
}
.fa-16 {
    font-size: 16px !important;
}
.fa-20 {
    font-size: 20px !important;
}
// font bold
.fw-900 {
    font-weight: 900;
}
// box shadow css
.box-1 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.box-2 {
    border: 1px solid #ededed;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.badge-warning {
    background-color: rgba(255, 152, 0, 0.12) !important;
    color: #f39c12 !important;
}
.badge-success {
    background-color: rgba(15, 183, 107, 0.12) !important;
    color: #26af48 !important;
}
.badge-danger {
    background-color: rgba(242, 17, 54, 0.12) !important;
    color: #e63c3c !important;
}
.badge-blue {
    background-color: rgb(10 88 207 / 14%) !important;
    color: $blue !important;
}
.badge-lg {
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 35px;
}
.twolinesonly {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 72px;
}
#agencyupdatestatus {
    position: relative;
    top: -8px;
}
// postion relation
.prt-5px {
    position: relative;
    top: 5px;
}
.dash-widget-icon {
    i {
        background-color: rgba(255, 155, 68, 0.2);
        border-radius: 100%;
        color: $primary;
        display: inline-block;
        float: left;
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
        text-align: center;
        width: 60px;
    }
}
.dash-widget-info {
    h3 {
        font-size: 30px;
        margin-bottom: 3px;
        font-weight: bold;
    }
}
.notification_panel .dropdown-toggle::after {
    color: white !important;
}
.table {
    .carousel-control-prev,
    .carousel-control-next {
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            width: 1.2rem !important;
            height: 1.2rem !important;
        }
    }
}

// login page
#loginpage {
    margin-top: 7%;
    .card {
        border-radius: 36px;
        .col-md-6 {
            min-height: 431px;
        }
        .loginimg {
            background: linear-gradient(0deg, rgba(228, 64, 59, 0.712), rgba(228, 64, 59, 0.712)),
                url("../img/pexels-photo-5673482.jpeg");
            background-size: cover;
            border-top-right-radius: 36px;
            border-bottom-right-radius: 36px;
            .text {
                margin-top: 35%;
            }
        }
    }
}

@media print {
    a[href]:after {
        content: " (" attr(href) ")";
    }
}
