{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row mx-2 mb-4">
    <div class="col-12">
        <a href="{% url 'orders' %}" class="btn btn-sm my-2 ps-0"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back</a>
    </div>

    <div class="col-4 h-100">
        <!-- Sales info -->
        <div class="card p-3">
            <h6>Sales Company Info</h6>
            <hr class="mt-0 mb-1">
            <p class="d-none" id="materiallist"></p>
            <p class="d-none" id="product_material"></p>
            <form action="" id="registerSubmit" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="Sales_Company" id="sales_company_id">
                <div class="">
                    <label for="sales_company_name" class="form-label small fw-bold mb-1">Sales Company Name :</label>
                    <select name="sales_company_name" class="form-control form-control-sm" id="sales_company_name"
                        class="sales_company_name">
                        <option value="">-------------</option>
                        {% for i in obj.customer_obj %}
                        <option value="{{i.Company_Name}}">{{i.Company_Name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="deliveryList">

                </div>
                <div class="mt-1">
                    <label for="deliveryaddress" class="form-label small fw-bold mb-0">Delivery Address :</label>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <small>Branch :</small>
                            <input type="text" class="Branch form-control form-control-sm" name="Branch" id="Branch">
                        </div>
                        <div class="col-6 ps-1">
                            <small>Customer Name :</small>
                            <input type="text" class="Customer_Name form-control form-control-sm" name="Customer_Name"
                                id="Customer_Name">
                        </div>
                        <div class="col-6 pe-1">
                            <small>Invoice URL :</small>
                            <input type="text" class="Invoice_Submitting_URL form-control form-control-sm"
                                name="Invoice_Submitting_URL" id="Invoice_Submitting_URL">
                        </div>
                        <div class="col-6 ps-1">
                            <small>Payment URL :</small>
                            <input type="text" class="Payment_Collecting_URL form-control form-control-sm"
                                name="Payment_Collecting_URL" id="Payment_Collecting_URL">
                        </div>
                        <div class="col-6 pe-1">
                            <small>Unloading Place :</small>
                            <input type="text" class="Unloading_Place form-control form-control-sm"
                                name="Unloading_Place" id="Unloading_Place">
                        </div>
                        <div class="col-6 ps-1">
                            <small>Owner House :</small>
                            <input type="text" class="Owner_House form-control form-control-sm" name="Owner_House"
                                id="Owner_House">
                        </div>
                        <div class="col-6 pe-1">
                            <small>Office Location :</small>
                            <input type="text" class="Office_Location form-control form-control-sm"
                                name="Office_Location" id="Office_Location">
                        </div>
                        <div class="col-6 ps-1">
                            <small>Other URL :</small>
                            <input type="text" class="other_URL form-control form-control-sm" name="other_URL"
                                id="other_URL">
                        </div>
                    </div>
                </div>

                <div class="mt-1">
                    <label for="billingaddress" class="form-label small fw-bold mb-1">Billing Address :</label>
                    <textarea rows="2" class="form-control form-control-sm" id="billingaddress"
                        placeholder="Billing Address."></textarea>
                </div>

                <!-- po info -->

                <div class="mt-1">
                    <label for="salescompany" class="form-label small fw-bold mb-1">PO Type :</label>
                    <select class="form-control form-control-sm" name="PO_Type" id="PO_Type">
                        <option value="">-------------</option>
                        <option value="PA">PO Applicable</option>
                        <option value="NA">Not Applicable</option>
                    </select>
                </div>

                <div class="row podetail d-none">
                    <div class="col-12">
                        <label for="PO_Number" class="form-label small fw-bold mb-1">PO Number</label>
                        <input type="text" class="form-control form-control-sm" id="PO_Number" name="PO_Number">
                    </div>
                    <div class="col-12">
                        <label for="Scan_Copy" class="form-label small fw-bold mb-1">Scan Copy</label>
                        <input type="file" class="form-control form-control-sm" id="Scan_Copy" name="Scan_Copy">
                    </div>
                    <div class="col-6 mt-1 pe-1">
                        <label for="PO_Recived_From_Name" class="form-label small fw-bold mb-1">PO Reciver Name</label>
                        <input type="text" class="form-control form-control-sm" id="PO_Recived_From_Name"
                            name="PO_Recived_From_Name">
                    </div>
                    <div class="col-6 mt-1 ps-1">
                        <label for="PO_Recived_From_Mail" class="form-label small fw-bold mb-1">PO Reciver Mail</label>
                        <input type="text" class="form-control form-control-sm" id="PO_Recived_From_Mail"
                            name="PO_Recived_From_Mail">
                    </div>
                    <div class="col-6 pe-1 mt-1">
                        <label for="PO_Approved_By" class="form-label small fw-bold mb-1">PO Approved By</label>
                        <input type="text" class="form-control form-control-sm" id="PO_Approved_By"
                            name="PO_Approved_By">
                    </div>
                    <div class="col-6 ps-1 mt-1">
                        <label for="PO_Date" class="form-label small fw-bold mb-1">PO Date</label>
                        <input type="date" class="form-control form-control-sm" id="PO_Date" name="PO_Date">
                    </div>

                </div>

                <div class="col-12 mt-1">
                    <label for="Order_Recieved_Date" class="form-label small fw-bold mb-1">Order Recieved Date</label>
                    <input type="date" class="form-control form-control-sm" id="Order_Recieved_Date"
                        name="Order_Recieved_Date">
                </div>
                <div class="mt-1">
                    <label for="deliverydate" class="form-label small fw-bold mb-1">Expected Delivery Date :</label>
                    <input type="date" class="form-control form-control-sm" id="deliverydate">
                </div>
                <div class="mb-3">
                    <label for="Remarks" class="form-label small fw-bold mb-1">Remarks :</label>
                    <textarea name="Remarks" id="Remarks" class="form-control form-control-sm" rows="2"></textarea>
                </div>



                <div>
                    <button class="btn btn-primary btn-sm w-100 addOrder" type="submit">Add Order</button>
                </div>
            </form>
        </div>

        <div class="card mt-3 p-3">
            <table class="table mb-0 table-bordered table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Material</th>
                        <th>Qty</th>
                        <th>Assinged</th>
                        <th>Balanced</th>
                    </tr>
                </thead>
                <tbody class='remainingQty'>
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-8 ps-0 h-100">
        <div class="card p-3 mb-3 box-2">
            <h6>PO Material Info</h6>
            <hr class="mt-0 mb-2">
            <div class="row">
                <div class="col-12 poalert d-none">
                    <div class="alert alert-success alert-dismissible fade show mb-1 py-2" role="alert">
                        <strong>PO Material </strong> Added Successfully. !!!<button type="button"
                            class="btn-close pt-2 pb-3 pe-1" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <div class="col-6 pe-1">
                    <label for="" class="small fw-bold">PO Material</label>
                    <select name="" class="form-control SelectPOMaterial">
                        <option value="">Select Material</option>
                        {% for i in obj.product_obj %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3 px-1">
                    <label for="" class="small fw-bold">PO Quantity</label>
                    <input type="text" class="form-control" id="po_quantity">
                </div>
                <div class="col-3 ps-1">
                    <label for="" class="small fw-bold">PO Rates</label>
                    <input type="text" class="form-control" id="po_rates">
                </div>
                <div class="col-4 mt-2 pe-1">
                    <label for="" class="small fw-bold">PO Quality</label>
                    <input type="text" class="form-control" id="po_quality">
                </div>
                <div class="col-4 mt-2 px-1">
                    <label for="" class="small fw-bold">PO Terms</label>
                    <input type="text" class="form-control" id="po_terms">
                </div>
                <div class="col-4 mt-4 ps-1">
                    <button type="submit" class="btn w-100 mt-1 btn-primary add_po_material"><i
                            class="fa fa-plus me-2"></i>Add PO Material</button>
                </div>

                <div class="col-12 po_table d-none">
                    <table class="table table-sm mt-2 mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>PO Material Name</th>
                                <th>PO Quantity</th>
                                <th>PO Quality</th>
                                <th>PO Rates</th>
                                <th>PO Terms</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="pomaterialid">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card p-3">
            <h6>Material Info</h6>
            <hr class="mt-0 mb-2">
            <div class="messages d-none mb-2 text-success fw-bold">
                Material Added Successfully. !!!
            </div>
            <div class="row">
                <div class="col-12">
                    <select name="" class="form-control SelectMaterial">
                        <option value="">Select PO Material</option>
                    </select>
                </div>
                <div class="col-12 ">
                    <table class="table table-striped priceList table-sm mt-2 d-none">
                        <thead class="table-dark ">
                            <tr>
                                <th>Name & Company Name</th>
                                <th>Price</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody id="pricelist">
                        </tbody>
                    </table>
                </div>

                <div class="col-4 mt-1 pe-2">
                    <label for="v_name" class="small fw-bold">Vendor Name</label>
                    <input type="text" class="form-control" disabled name="v_name" id="v_name">
                </div>
                <div class="col-4 mt-1 px-1">
                    <label for="v_company" class="small fw-bold">Company Name</label>
                    <input type="text" class="form-control" disabled name="v_company" id="v_company">
                </div>
                <div class="col-4 mt-1 ps-2">
                    <label for="v_type" class="small fw-bold">Vendor Type</label>
                    <select class="form-control" name="v_type" id="v_type">
                        <option value="">---------</option>
                        <option value="Quary Transport">Quary Transport</option>
                        <option value="Crusher">Crusher</option>
                    </select>
                </div>
                <div class="col-8 pe-0 mt-1">
                    <label for="location_supply" class="small fw-bold">Location They Can Supply</label>
                    <input type="text" class="form-control" name="location_supply" id="location_supply">
                </div>
                <div class="col-4 mt-1">
                    <label for="v_payment" class="small fw-bold">Payment Capability</label>
                    <input type="text" class="form-control" name="v_payment" id="v_payment">
                </div>

                <div class="col-4 mt-1">
                    <label for="" class="small fw-bold">Material Name</label>
                    <input type="hidden" name="Vendor_Id" id="Vendor_Id">
                    <input type="hidden" name="Product_id" id="Product_id">
                    <input type="hidden" name="Mat_PO_id" id="Mat_PO_id">
                    <input type="text" class="form-control" name="Material_Name" id="Material_Name">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Current Price</label>
                    <input type="text" class="form-control" name="Price" id="Price">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Sales Price</label>
                    <input type="text" class="form-control" name="Sales_Price" id="Sales_Price">
                </div>
                <div class="col-2 mt-1 ps-0">
                    <label for="" class="small fw-bold">Qty</label>
                    <input type="text" class="form-control" name="Quantity" id="Quantity">
                </div>
                <div class="col-2 mt-1  ps-0">
                    <label for="" class="small fw-bold">Loads</label>
                    <input type="text" class="form-control" name="No_Of_Load" id="No_Of_Load">
                </div>
                <div class="col-4 mt-1 ">
                    <label for="" class="small fw-bold">Expected Date</label>
                    <input type="date" class="form-control" name="Expected_Date" id="Expected_Date">
                </div>
                <div class="col-4 mt-1 ps-0">
                    <label for="" class="small fw-bold">Quality Material Type</label>
                    <select name="Quality_Material_Type" class="select form-control custom-select"
                        id="id_Quality_Material_Type">
                        <option value="">---------</option>
                        <option value="N">Natural</option>
                        <option value="M">Manufactured</option>
                    </select>
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">HSN Code</label>
                    <input type="text" class="form-control" name="HSNCode" id="HSNCode">
                </div>
                <div class="col-4 mt-1">
                    <label for="" class="small fw-bold">Moisture</label>
                    <select name="Moisture" class="select form-control custom-select" id="id_Moisture">
                        <option value="">---------</option>
                        <option value="">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">Moisture Number</label>
                    <input type="text" class="form-control" name="Moisture_Number" id="Moisture_Number">
                </div>
                <div class="col-4 ps-0 mt-1">
                    <label for="" class="small fw-bold">Material Term</label>
                    <input type="text" class="form-control" name="Material_Term" id="Material_Term">
                </div>
                <div class="col-12 mt-1">
                    <label for="" class="small fw-bold">Others</label>
                    <textarea class="form-control" name="Others" rows="1" id="Others"></textarea>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary mt-2 btn-sm" id="add_materials">Add Material</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row materialtable">
            <div class="col-12 ">
                <h6 class="mt-2">Material List</h6>
                <table class="table table-bordered table-sm mb-2">
                    <thead class="table-dark">
                        <tr>
                            <th style="width: 15%;">Material Name</th>
                            <th style="width: 17%;">Vendor Info</th>
                            <th>Type</th>
                            <th>Qty</th>
                            <th style="width: 9%;">Current Price</th>
                            <th style="width: 9%;">PO Price</th>
                            <th style="width: 9%;">Offer Price</th>
                            <th style="width: 9%;">Final PO</th>
                            <th style="width: 9%;">Fianl OP</th>
                            <th style="width: 6%;"></th>
                        </tr>
                    </thead>
                    <tbody class="small">

                    </tbody>
                </table>
            </div>

            <div class="col-12 total">
                <b>Total Price : </b><span id="totalPrice"></span>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        var siteid = localStorage.getItem('SiteId')
        var POId = localStorage.getItem('poid')
        var MaterialId = localStorage.getItem('MatId')
        var sales = localStorage.getItem('sales')

        $('#id_Moisture').change(function () {
            var moisture = $(this).val()
            if (moisture != '0') {
                $('#Moisture_Number, #Material_Term').removeAttr("disabled")
            } else {
                $('#Moisture_Number, #Material_Term').attr('disabled', 'true')
            }
        })

        $('.orderMenu').addClass('active')

        var baseUrl = 'http://127.0.0.1:8000/'
        var url = baseUrl + 'api/'
        var csrftoken = $('meta[name="csrf-token"]').attr('content')
        var userid = $('#user-id').attr('data-id')
        var agencyid = $('#agencyid').attr('data-id')
        MaterialsId()
        setTimeout(() => {
            RemoveMaterials()
            $('#materiallist').html(MaterialId)

            if (sales) {
                $('#sales_company_id').val(sales)
                deliver_address(sales)
            }
        }, 600)

        $.ajaxSetup({
            headers: { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') }
        });

        // Add PO Materials
        $('.add_po_material').click(function () {
            var params = {
                "PO_Quantity": $('#po_quantity').val(),
                "PO_Rates": $('#po_rates').val(),
                "PO_Quality": $('#po_quality').val(),
                "PO_Terms": $('#po_terms').val(),
                "PO_Material_Name": $('.SelectPOMaterial').val(),
                'csrfmiddlewaretoken': csrftoken
            }
            $.post(url + 'po-material-info/', params, function (res) {
                localstorageset('poid', res?.id)
                $('.poalert').removeClass('d-none')
                setTimeout(() => {
                    location.reload()
                }, 1500)
            })
        })

        // get PO Material
        if (POId) {
            $('#product_material').html(POId)
            var po_id_list = POId.split(',')
            if (po_id_list.length != 0) {
                $('.po_table').removeClass('d-none')
                for (var i = 0; i < po_id_list.length; i++) {
                    $.get(url + 'po-material-info/' + po_id_list[i], function (res) {
                        $('#pomaterialid').append('<tr><td>' + res?.PO_Material_Name + '</td><td>' + res?.PO_Quantity + '</td><td class="text-capitalize">' + res?.PO_Quality + '</td><td>' + res?.PO_Rates + '</td><td class="text-capitalize">' + res?.PO_Terms + '</td><td><a href="' + res?.id + '" class="deletePO"><i class="fa fa-trash"></i></a></td></tr>')
                        $('.SelectMaterial').append('<option value="' + res?.PO_Material_Name + '_' + res?.id + '_' + res?.PO_Rates + '">' + res?.PO_Material_Name + '</option>')
                        POMaterialDelete()
                    })
                }
            }
        }

        function POMaterialDelete() {
            $('.deletePO').click(function (e) {
                e.preventDefault()
                var PO_ID = $(this).attr('href')
                var params = {
                    'id': PO_ID
                }
                $.ajax({
                    type: "DELETE",
                    url: url + 'po-material-info/' + PO_ID,
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(params),
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                });
                removeItemFromLocalStorage('poid', POId, PO_ID)
                location.reload()
            })
        }

        // remove data from localstorage
        function removeItemFromLocalStorage(type, data, id) {
            var data = data.split(',')
            const index = data.indexOf(id);
            if (index > -1) {
                data.splice(index, 1);
            }
            var storeData = data.toString()
            // console.log(storeData)
            localStorage.setItem(type, storeData)
        }

        $('#sales_company_name').change(function () {
            var company_name = $(this).val()
            $.get(baseUrl + 'api/customers/?Company_Name=' + company_name, function (res) {
                // $('#sales_company_id').val(res?.results[0]?.id)
                $('.deliveryList').html('')
                var billing_address = res?.results[0]?.GST_No
                var delivery_address = res?.results[0]?.Delivery_Address

                for (var i = 0; i < delivery_address.length; i++) {
                    $('.deliveryList').append('<div class="text-capitalize my-2"><span>' + delivery_address[i]?.Customer_Name + '</span><a href="' + delivery_address[i]?.id + '" class="btn btn-primary delivery_address_add btn-sm py-0 px-1 float-end ms-2"><i class="fa fa-plus"></i></a><span class="float-end">' + delivery_address[i]?.Branch + '</span></div>')
                }
                var ba = billing_address?.Address + ', ' + billing_address?.City + ' - ' + billing_address?.Zip + ', ' + billing_address?.State + ', ' + billing_address?.Country
                $('#billingaddress').val(ba)

                delivery_address_add()
            })
        })

        function delivery_address_add() {
            $('.delivery_address_add').click(function (e) {
                $('.deliveryList').html('')
                e.preventDefault()
                var d_address = $(this).attr('href')
                localStorage.setItem('sales', d_address)
                deliver_address(d_address)
            })
        }

        function deliver_address(d_address) {
            $.get(baseUrl + 'api/customer-delivery-address/' + d_address + '/', function (res) {
                $('#Branch').val(res?.Branch)
                $('#Customer_Name').val(res?.Customer_Name)
                $('#Invoice_Submitting_URL').val(res?.Invoice_Submitting_URL)
                $('#Payment_Collecting_URL').val(res?.Payment_Collecting_URL)
                $('#Unloading_Place').val(res?.URL_Location_Of_The_Unloading_Place)
                $('#Owner_House').val(res?.URL_Of_Owner_House)
                $('#other_URL').val(res?.Add_other_URL)
                $('#Office_Location').val(res?.URL_Office_Location)
            })
            $.get(baseUrl + 'api/customers/' + d_address + '/',
                function (data, success) {
                    // console.log(data)
                    var billing_address = data.GST_No.Address + ', ' + data.GST_No.City + ' - ' + data.GST_No.Zip + ', ' + data.GST_No.State + ', ' + data.GST_No.Country
                    $('#billingaddress').val(billing_address)
                    $('#sales_company_name').val(data.Company_Name)
                })
        }

        $('#PO_Type').change(function () {
            var potype = $(this).val()

            if (potype == 'PA') {
                $('.podetail').removeClass('d-none')
            } else {
                $('.podetail').addClass('d-none')
            }
        })

        // select material
        $('.SelectMaterial').change(function () {

            var material = $(this).val()
            var mat_name_id = material.split('_')
            var mat_po_id = mat_name_id[1]
            var mat_po_name = mat_name_id[0]
            $('.priceList').removeClass('d-none')
            $.get(url + 'products/?Product=' + mat_po_name, function (data) {
                var result = data.results
                var d = result.sort(function (a, b) { return a.Price - b.Price; });
                // console.log(d)
                for (var i = 0; i < data.count; i++) {
                    $('#pricelist').append("<tr><td><div>" + result[i]?.Vendor?.Vendor_Name + "</div><div class='small text-primary'>(" + result[i]?.Vendor?.Company_Name + ")</div></td><td><div>" + result[i]?.Price + "</div><div><b class='text-primary'>GST : </b>" + result[i]?.GST + "</div></td><td><a data-name='" + result[i]?.Vendor?.Vendor_Name + "' data-id='" + result[i]?.Vendor?.id + "' data-company='" + result[i]?.Vendor?.Company_Name + "' mat_po_id='" + mat_po_id + "'' data-price='" + result[i]?.Price + "' data-produtid='" + result[i]?.id + "' data-gst='" + result[i]?.GST + "' class='btn btn-primary btn-sm addprodcut py-0'><span feather='plus'></span> Add</a></td></tr>")
                }
                // addfunctionality for material
                addFunctionality()
            })

        })

        // add functionalities start here
        function addFunctionality() {
            $('.addprodcut').click(function () {
                // remove old items
                $('#pricelist').html('')
                // table hide
                $('.priceList').addClass('d-none')
                $('.materialInfo, .siteInfo, #addeddriverinfo').removeClass('d-none')

                var productName = $('.SelectMaterial').val()
                var mat_name = productName.split('_')
                var price = $(this).attr('data-price')
                var name = $(this).attr('data-name')
                var company = $(this).attr('data-company')
                var companyid = $(this).attr('data-id')
                var productid = $(this).attr('data-produtid')
                var gst = $(this).attr('data-gst')
                var mat_po_id = $(this).attr('mat_po_id')

                $('#Material_Name').val(mat_name[0])
                $('#v_name').val(name)
                $('#v_company').val(company)
                $('#Product_id').val(productid)
                $('#Price').val(price)
                $('#Vendor_Id').val(companyid)
                $('#Mat_PO_id').val(mat_po_id)
                $('#Sales_Price').val(mat_name[2])

            })
        }

        // add to site info
        $('#add_materials').click(function (e) {
            e.preventDefault()
            var params = {
                User: userid,
                Material_Name: $('#Material_Name').val(),
                Vendor: $('#Vendor_Id').val(),
                Vendor_Type: $('#v_type').val(),
                Location_Supply: $('#location_supply').val(),
                Payment_Capability: $('#v_payment').val(),
                Mat_PO_ID: $('#Mat_PO_id').val(),
                Product_Name: $('#Product_id').val(),
                Sales_Price: $('#Sales_Price').val(),
                Offer_Price: $('#Offer_Price').val(),
                Quantity: $('#Quantity').val(),
                No_Of_Load: $('#No_Of_Load').val(),
                Expected_Date: $('#Expected_Date').val(),
                Quality_Material_Type: $('#id_Quality_Material_Type').val(),
                HSNCode: $('#HSNCode').val(),
                Moisture: $('#id_Moisture').val(),
                Moisture_Number: $('#Moisture_Number').val(),
                Material_Term: $('#Material_Term').val(),
                Others: $('#Others').val(),
                'csrfmiddlewaretoken': csrftoken
            }

            $.post(baseUrl + 'post-api/material-info/', params, function (res) {
                $('.messages').removeClass('d-none')
                localstorageset('MatId', res?.id)
                setTimeout(() => {
                    location.reload()
                }, 800)
            })

        })

        function MaterialsId() {
            var po_objs = []

            FinalPrice = 0
            if (MaterialId) {
                var material_list = MaterialId.split(',')

                for (var i = 0; i < material_list.length; i++) {
                    // console.log(material_list[i])
                    $.get(baseUrl + 'api/material-info/' + material_list[i] + '/', function (res) {
                        // console.log(res?.Mat_PO_ID?.PO_Quantity)

                        po_objs.push(res);

                        var Total_Price = Number(res?.Offer_Price) * Number(res?.Quantity)
                        FinalPrice = FinalPrice + Total_Price
                        if (res?.Moisture == '') {
                            var Moisture_Number = '<b>Moisture Number : </b>' + res?.Moisture_Number
                            var Material_Term = '<b>Material Term : </b>' + res?.Material_Term
                        } else {
                            var Moisture_Number = 'No'
                            var Material_Term = ''
                        }


                        if (res?.Final_Offer_Price != null) {
                            $('.materialtable tbody').append('<tr class="row_' + res?.id + '"><td><div>' + res?.Material_Name + '</div></td><td><div class="text-primary">' + res?.Vendor?.Company_Name + '</div><div class="text-capitalize"><i class="fa fa-map-marker"></i> : ' + res?.Location_Supply + '</div></td><td><div>' + res?.Vendor_Type + '<span class="text-blue"> ( ' + res?.Payment_Capability + ' )</span></div><div><i class="fa fa-truck"></i> : ' + res?.No_Of_Load + '</div></td><td><div class="mt-2" style="font-size: 16px;">' + res?.Quantity + '</div></td><td><input type="text" value="' + res?.Product_Name?.Price + '" class="form-control"></td><td><input type="text" value="' + res?.Mat_PO_ID?.PO_Rates + '" class="form-control"></td><td><input type="text" value="' + res?.Offer_Price + '" class="form-control op' + res?.id + '"></td><td><input type="text" value="' + res?.Fianl_PO_Price + '"  class="form-control fp' + res?.id + '"></td><td><input type="text" value="' + res?.Final_Offer_Price + '" class="form-control fop' + res?.id + '"></td><td><a href="' + res?.id + '" class=" addPriceMaterial"><i class="fa fa-check fa-lg"></i></a><a href="' + res?.id + '" class="deleteMaterials ms-3"><i class="fa mt-2 fa-close fa-lg"></i></a></td></tr>');
                        } else {
                            $('.materialtable tbody').append('<tr class="row_' + res?.id + '"><td><div>' + res?.Material_Name + '</div></td><td><div class="text-primary">' + res?.Vendor?.Company_Name + '</div><div class="text-capitalize"><i class="fa fa-map-marker"></i> : ' + res?.Location_Supply + '</div></td><td><div>' + res?.Vendor_Type + '<span class="text-blue"> ( ' + res?.Payment_Capability + ' )</span></div><div><i class="fa fa-truck"></i> : ' + res?.No_Of_Load + '</div></td><td><div class="mt-2" style="font-size: 16px;">' + res?.Quantity + '</div></td><td><input type="text" value="' + res?.Product_Name?.Price + '" class="form-control"></td><td><input type="text" value="' + res?.Mat_PO_ID?.PO_Rates + '" class="form-control"></td><td><input type="text" class="form-control op' + res?.id + '"></td><td><input type="text" class="form-control fp' + res?.id + '"></td><td><input type="text" class="form-control fop' + res?.id + '"></td><td><a href="' + res?.id + '" class=" addPriceMaterial"><i class="fa fa-check fa-lg "></i></a><a href="' + res?.id + '" class="mt-2 deleteMaterials ms-3"><i class="fa fa-close fa-lg"></i></a></td></tr>');
                        }

                        addPriceMaterial()
                    })
                }


            } else {
                $('.materialtable').addClass('d-none')
            }

            setTimeout(() => {

                material = []
                for (var i = 0; i < po_objs.length; i++) {
                    material.push({ 'name': po_objs[i]?.Material_Name })
                }
                const arr1 = getUniqueListBy(material, 'name')
                material = []

                for (var j = 0; j < arr1.length; j++) {
                    var data = po_objs.filter(p => p.Material_Name == arr1[j]?.name)
                    material.push(data)
                }

                material_list = []
                for (var i = 0; i < material.length; i++) {
                    qty = 0
                    po_qty = 0
                    po_material = ''
                    for (var j = 0; j < material[i].length; j++) {
                        po_qty = material[i][0]?.Mat_PO_ID?.PO_Quantity
                        po_material = material[i][0]?.Mat_PO_ID?.PO_Material_Name
                        qty = qty + Number(material[i][j]?.Quantity)
                    }
                    material_list.push({ 'material_list': qty, 'po_qty': Number(po_qty), 'po_material': po_material })
                }


                for (var i = 0; i < material_list.length; i++) {
                    balanced = Number(material_list[i]['po_qty']) - Number(material_list[i]['material_list'])

                    $('.remainingQty').append('<tr><td>' + material_list[i]['po_material'] + '</td><td>' + material_list[i]['po_qty'] + '</td><td>' + material_list[i]['material_list'] + '</td><td>' + balanced + '</td>/tr>')
                }

                if (FinalPrice != 0) {
                    $('#totalPrice').text(FinalPrice)
                } else {
                    $('.total').addClass('d-none')
                }
            }, 500)

        }

        function addPriceMaterial() {
            $('.addPriceMaterial').click(function (e) {
                e.preventDefault()
                var id = $(this).attr('href')

                var params = {
                    Offer_Price: $('.op' + id).val(),
                    Fianl_PO_Price: $('.fp' + id).val(),
                    Final_Offer_Price: $('.fop' + id).val(),
                }
                var URL = baseUrl + 'api/material-info/' + id + '/'
                PATCHPARAMMethod(params, URL)
                alert('Offer Price Added Successfully. !!!')
            })
        }

        function PATCHPARAMMethod(params, dynamicurl) {
            $.ajax({
                type: 'PATCH',
                url: dynamicurl,
                data: JSON.stringify(params),
                processData: false,
                contentType: "application/json",
                dataType: "json",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function (response) {
                    // location.reload()
                },
                error: function (response) {
                    alert('Network issue Try again later. !!!')
                }
            });
        }

        function getUniqueListBy(arr, key) {
            return [...new Map(arr.map(item => [item[key], item])).values()]
        }

        function RemoveMaterials() {
            $('.deleteMaterials').click(function (e) {

                e.preventDefault()
                var m_id = $(this).attr('href')
                var params = { 'id': m_id }

                $.ajax({
                    type: "DELETE",
                    url: baseUrl + 'api/material-info/' + m_id + '/',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(params),
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (res) {
                        $('.row_' + m_id).remove()
                        removeDataFromLocalStorage(m_id)
                        MaterialsId()
                    }
                });

            })
        }

        function removeDataFromLocalStorage(id) {
            var matid = MaterialId.split(',')
            const index = matid.indexOf(id);
            if (index > -1) {
                matid.splice(index, 1);
            }
            var orders = matid.toString()
            localStorage.setItem('MatId', orders)
        }

        // localstorage id store
        function localstorageset(data, id) {
            var getData = localStorage.getItem(data)
            if (getData == null) {
                localStorage.setItem(data, id)
                // console.log('new order item')
            } else {
                var orderitem = getData.split(',')
                orderitem.push(id)
                var orders = orderitem.toString()
                localStorage.setItem(data, orders)
                // console.log('update item')
            }
        }

        // final Order
        $('form').submit(function (e) {
            e.preventDefault()
            var formData = $("#registerSubmit").serialize()

            var f_data = formData.split('&')
            // console.log(f_data)
            // check material list
            var Material_List = f_data[2].split('=')
            if (Material_List[1] == '') {
                alert('Material List Is Required. !!!')
            }
            // check sales company
            var sales_company = f_data[0].split('=')
            if (sales_company[1] == '') {
                alert('Sales Company Is Required. !!!')
            }
            // check Delivery Address
            var delivery_address = f_data[3].split('=')
            if (delivery_address[1] == '') {
                alert('Delivery Address Is Required. !!!')
            }
            // check po type
            var PO_Type = f_data[11].split('=')
            if (PO_Type[1] == '') {
                alert('PO Type Is Required. !!!')
            }

            if (PO_Type[1] != '' && delivery_address[1] != '' && sales_company[1] != '' && Material_List[1] != '') {
                var customer_params = {
                    "Customer_Name": $('#Customer_Name').val(),
                    "Branch": $('#Branch').val(),
                    "URL_Location_Of_The_Unloading_Place": $('#Unloading_Place').val(),
                    "URL_Office_Location": $('#Office_Location').val(),
                    "URL_Of_Owner_House": $('#Owner_House').val(),
                    "Invoice_Submitting_URL": $('#Invoice_Submitting_URL').val(),
                    "Payment_Collecting_URL": $('#Payment_Collecting_URL').val(),
                    "Add_other_URL": $('#other_URL').val(),
                    'csrfmiddlewaretoken': csrftoken
                }
                $.post(baseUrl + 'api/customer-delivery-address/', customer_params, function (res) {
                    OrderInfo1(formData, res?.id)
                })
            }

            function OrderInfo1(formData, id) {
                formdata = new FormData(document.getElementById("registerSubmit"))
                var product_material_list = $('#product_material').html().split(',')
                product_material_list.forEach(item => { formdata.append('PO_Material_Info', item); })
                formdata.append('PO_Material_Info', 6);

                $.ajax({
                    url: baseUrl + 'api/po-number/',
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        FinalOrderDate(id, data?.id)
                    }
                })
            }

            function FinalOrderDate(delivery_id, po_id) {
                var delivery_id = [delivery_id]
                var material_list = $('#materiallist').html().split(',')
                var params = {
                    'Sales_Company': $('#sales_company_id').val(),
                    'Sales_Delivery_Address': delivery_id,
                    'Billing_Address': $('#billingaddress').val(),
                    'PO_Number': po_id,
                    'Expected_Delivery_Date': $('#deliverydate').val(),
                    'Materials': material_list,
                    'Remarks': $('#Remarks').val(),
                    'Agency': $('#agencyid').attr('data-id'),
                    'User': userid,
                }

                $.ajax({
                    type: "POST",
                    url: baseUrl + "post-api/orders/",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(params),
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function (response) {
                        localStorage.removeItem('MatId')
                        localStorage.removeItem('poid')
                        localStorage.removeItem('sales')
                        alert('Material Added Successfully. !!!')
                        setTimeout(() => {
                            location.reload()
                        }, 800)
                    },
                    error: function (response) {
                        alert('Network Error. !!!')
                    }
                });
            }
        })
    })
</script>

<style>
    .addPriceMaterial {
        background: #009587;
        padding: 5px 4px;
        position: relative;
        top: 8px;
        border-radius: 5px;
        color: white;
    }

    .deleteMaterials {
        background: #dc3545;
        padding: 5px 5px;
        border-radius: 5px;
        position: relative;
        top: -10px;
        left: 14px;
        color: white;
    }

    .deleteMaterials:hover {
        color: #dc3545;
        background: white;
    }

    .addPriceMaterial:hover {
        color: #009587;
        background: white;
    }
</style>
{% endblock %})4