{% extends "_base.html" %}


{% block content %}

<div class="container">

    <div class="row mt-3">
        <div class="col-md-12 text-capitalize">
            <h5 class="fw-bold">Orders</h5>
        </div>
        <div class="col-md-12">
            <div class="box-1 rounded bg-white mt-2 p-3">
                <div class="col-12">
                    <a href="{% url 'add-order' %}" class="btn btn-sm btn-primary float-end ms-2" id="agency">
                        <i class="fa fa-plus me-1"></i> Add</a>
                    <form class="float-end" action="">
                        <div class="row mx-0">
                            <div class="col-3 pe-0">
                                <label class="text-end mt-2">Search : </label>
                            </div>
                            <div class="col-9 ps-0">
                                <div class="mb-3">
                                    <input type="search" class="form-control py-1" name="orders">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="" class="table table-bordered table-striped">
                    <thead class="table-dark text-capitalize ">
                        <tr>
                            <th scope="col" width="25%">Orders</th>
                            <th scope="col" width="25%">Material Balance</th>
                            <th scope="col">Material</th>
                            <th scope="col" width="8%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in obj.orders %}
                        <tr>
                            <td>
                                <div>
                                    <b>Sales : </b> <span>{{ order.Sales_Company.Founder_Name }}</span>
                                    <a href="tel:{{order.Sales_Company.Founder_Phone}}" class="ms-2 text-success"><i
                                            class="fa fa-phone"></i></a>
                                    <a href="mailto{{order.Sales_Company.Founder_Email}}:" class="ms-2"><i
                                            class="fa fa-envelope"></i></a><br>
                                    <span>( {{ order.Sales_Company.Company_Name }} )</span>
                                </div>
                                <div>
                                    <b>Billing : </b> {{ order.Billing_Address }}</div>
                                <div>
                                    <b>PO Number : </b><span>{{ order.PO_Number.PO_Number }}</span>
                                </div>
                                <div>
                                    <b>Expected Delivery : </b> {{order.Expected_Delivery_Date}}
                                </div>
                            </td>
                            <td>
                                <ul class="mb-0 ps-3">
                                    {% for material in order.Materials.all %}
                                    <li>{{material.Material_Name}} ( 100 - 75 = 25 )</li>
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for material in order.Materials.all %}
                                        <div
                                            class="{% if forloop.counter == 1 %}carousel-item active{% else %}carousel-item{% endif %}">
                                            <div>
                                                <div class="fw-bold">{{material.Material_Name}}</div>
                                                <div>
                                                    <b>Vendor : </b><span>{{material.Vendor.Vendor_Name}} </span><b>(
                                                        {{material.Vendor.Company_Name}} )
                                                    </b> <a href="" class="ms-2 text-success"><i
                                                            class="fa fa-phone"></i></a> <a href="" class="ms-2"><i
                                                            class="fa fa-envelope"></i></a>
                                                </div>
                                                <div>
                                                    <b>Qty : </b><span>{{ material.Quantity }}</span>
                                                    <b class="ms-2">Load : </b><span>{{ material.No_Of_Load }}</span>
                                                    <b class="ms-2">HSN Code : </b><span>{{ material.HSNCode }}</span>
                                                </div>
                                                <div>
                                                    <b>PO : </b><span>Rs.{{ material.Fianl_PO_Price }}</span>
                                                    <b>Offer : </b><span>Rs.{{ material.Final_Offer_Price }}</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-map-marker text-success fw-bold"></i> :
                                                    <span>Taramani, Chennai-113</span>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar text-blue fw-bold"></i> : 25-04-2021
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="me-2 text-warning add_agency"><i class="fa fa-lg fa-edit"></i></a>
                                <a href="#" class="me-2 text-danger add_agency"><i class="fa fa-lg fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}

                        <!-- {% for i in obj.order_obj %}
                            <tr class="row_{{i.id}}">
                                <td style="width: 18%;">
                                    <div class="small"><span class="text-capitalize">{{i.Sales_Company.Founder_Name}}</span><a class="ms-2" href="tel:{{i.Sales_Company.Founder_Phone}}"><i class="fa fa-phone"></i></a><a class="ms-2 text-danger" href="mailto:{{i.Sales_Company.Founder_Email}}"><i class="fa fa-envelope"></i></a></div>
                                    <div class="text-capitalize small">( {{i.Sales_Company.Company_Name}} )</div>
                                    <div class="small"><b>Delivery Date : </b>{{i.Expected_Delivery_Date}}</div>
                                    <div class="text-capitalize small"><b>Billing : </b>{{i.Billing_Address}}</div>
                                    <div class="text-capitalize small"><b>Remarks : </b>{{i.Remarks}}</div>
                                </td>
                                <td>
                                    {% for k in i.Sales_Delivery_Address.all %}
                                        <div class="small"><b>Unloading Place : </b><a target="_blank" href="{{k.URL_Location_Of_The_Unloading_Place}}"><i class="fa fa-link"></i></a></div>
                                        <div class="small"><b>Office Location : </b><a target="_blank" href="{{k.URL_Office_Location}}"><i class="fa fa-link"></i></a></div>
                                        <div class="small"><b>Owner House : </b><a target="_blank" href="{{k.URL_Of_Owner_House}}"><i class="fa fa-link"></i></a></div>
                                        <div class="small"><b>Invoice  : </b><a target="_blank" href="{{k.Invoice_Submitting_URL}}"><i class="fa fa-link"></i></a><b class="ms-2">Payment : </b><a target="_blank" href="{{k.Payment_Collecting_URL}}"><i class="fa fa-link"></i></a></div>
                                        <div class="small"><b>Branch : </b>{{k.Branch}}</div>
                                    {% endfor %}
                                </td>
                                <td style="width: 23%;">
                                    {% for k in i.Materials.all %}
                                        <div class="small"><a class="text-decoration-none" href="">{{k.Material_Name}}</a> <span class="small">({{k.Offer_Price}} * {{k.Quantity}})</span><span class="small float-end">{{k.Expected_Date}}</span></div>
                                        <hr class="my-0">
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if i.PO_Number.PO_Type == 'NA'%}
                                        <div><b>PO : </b> Not Applicable</div>
                                    {% else %}
                                        <div class="small"><b>PO :</b> Applicable <b class="ms-2">No :</b> {{i.PO_Number.PO_Number}} <a class="ms-1" href="medial/{{i.PO_Number.Scan_Copy}}"><i class="fa fa-download"></i></a></div>
                                        <div class="small"><b>Recived From : </b><span class="text-capitalize">{{i.PO_Number.PO_Recived_From_Name}}</span> <a href="mailto:{{i.PO_Number.PO_Recived_From_Mail}}" class="ms-1 text-danger"><i class="fa fa-envelope"></i></a></div>
                                        <div class="small "><b>Approved By : </b><span class="text-capitalize">{{i.PO_Number.PO_Approved_By}}</span> <b class="ms-2">QTY : </b><span>{{i.PO_Number.PO_Quantity}}</span></div>
                                        <div class="small"><b>Material : </b>{{i.PO_Number.PO_Material}}<b class="ms-2">PO Rate : </b>{{i.PO_Number.PO_Rate}} <b class="ms-2">Sales Rate : </b>{{i.PO_Number.Sales_Rate}}</div>
                                        <div class="small"><b>PO Date : </b>{{i.PO_Number.PO_Date}}</div>
                                        <div class="small"><b>Order Recieved Date : </b>{{i.PO_Number.Order_Recieved_Date}} </div>
                                    {% endif %}
                                </td> 
                                <td>
                                    <a href="{{i.id}}" class="me-2 text-warning add_agency" ><i class="fa fa-lg fa-edit"></i></a>
            
                                    {% if user.is_superuser %}
                                        <a href="{{i.id}}" class="text-danger deleteMethod" data-bs-toggle="modal" data-bs-target="#deleteMethod" data-bs-whatever="{{i.id}}"><i class="fa fa-lg fa-trash"></i></a>
                                    {% else %}
                                        <a href="{{i.id}}" class="text-danger deleteForUser" data-method="Delete" data-url="orders"><i class="fa fa-lg fa-trash"></i></a>
                                    {% endif %}
            
                                </td>
                            </tr>
                        {% endfor %} -->
                    </tbody>
                </table>

                {% if obj.orders.has_other_pages %}
                <nav aria-label="...">
                    <ul class="pagination mb-0 d-flex justify-content-end">
                        {% if obj.orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ obj.orders.previous_page_number }}"
                                tabindex="-1">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in obj.orders.paginator.page_range %}
                        {% if obj.orders.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ i }}">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if obj.orders.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ obj.orders.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- delete Modal for admin -->
<div class="modal fade" id="deleteMethod" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2 bg-danger text-white">
                <h5 class="modal-title fw-bold small" id="exampleModalLabel">DELETE PRODUCT</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete ?</h5>
            </div>
            <div class="modal-footer border-0 py-2">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" data-col="id" data-url="customers" data-id=""
                    class="btn btn-danger dlt btn-sm">DELETE</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.orderMenu').addClass('active')
        var base = 'http://127.0.0.1:8000/'
        var url = 'http://127.0.0.1:8000/api/'
        var csrftoken = $('meta[name="csrf-token"]').attr('content')
        var userid = $('#user-id').attr('data-id')
        var agencyid = $('#user-id').attr('data-id')

        $('.deleteForUser').click(function (e) {
            e.preventDefault()
            if (confirm('Are you sure you want to delete?')) {

                var _obj = JSON.stringify({ 'id': $(this).attr('href'), 'model': $(this).attr('data-url') });
                var params = {
                    "Notifications": _obj,
                    'csrfmiddlewaretoken': csrftoken,
                    'Types': $(this).attr('data-method'),
                    'User': $('#userid').html()
                }
                // console.log(params)
                $.post(base + 'post-api/notifications/', params, function (req, res) {
                    console.log(req)
                    console.log(res)
                })
            }
        })
    })
</script>
{% endblock %})