{% extends "_base.html" %}


{% block content %}
{% load static %}
<div class="container">
    <div class="row mt-3">
        <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-group files">
                <label class="h5 fw-bold text-secondary">Upload Your File Here</label>
                <input type="file" name="filemanage" class="form-control" multiple required>
            </div>
            <div class="invalid-feedback">
                Upload Your Files !
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn btn-primary" type="submit">Upload</button>
            </div>
        </form>
        <div class="row mt-4 mx-0 px-0">
            {% for i in filedata %}
            <div class="col-2">
                {% if i.File|make_list|slice:"-3:"|cut:"'"|cut:","|cut:"["|cut:"]"|cut:" " == 'xslx' %}
                <img src="https://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/256/Excel-icon.png" alt=""
                    width="160" height="160">
                {% elif i.File|make_list|slice:"-3:"|cut:"'"|cut:","|cut:"["|cut:"]"|cut:" " == 'zip' %}
                <img src="https://www.cedarville.edu/images/default-source/insights/zip-file-icon.jpg?sfvrsn=d34468_0"
                    alt="" width="160" height="160">
                {% elif i.File|make_list|slice:"-3:"|cut:"'"|cut:","|cut:"["|cut:"]"|cut:" " == 'docs' %}
                <img src="https://findicons.com/files/icons/2795/office_2013_hd/2000/word.png" alt="" width="160"
                    height="160">
                {% elif i.File|make_list|slice:"-3:"|cut:"'"|cut:","|cut:"["|cut:"]"|cut:" " == 'pdf' %}
                <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="" width="160" height="160">
                {% elif i.File|make_list|slice:"-3:"|cut:"'"|cut:","|cut:"["|cut:"]"|cut:" " == 'sql' %}
                <img src="https://previews.123rf.com/images/dxinerz/dxinerz1509/dxinerz150901435/45612332-sql-file-icon.jpg"
                    alt="" width="160" height="160">
                {% else %}
                <img src="../../media/{{i.File}}" width="160" height="160" alt="">
                {%endif%}
                <p class="mt-1 small text-center">{{i.File|cut:"files/"}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<style>
    .files input {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        padding: 120px 0px 85px 35%;
        text-align: center !important;
        margin: 0;
        width: 100% !important;
    }

    .files input:focus {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        border: 1px solid #92b0b3;
    }

    .files {
        position: relative
    }

    .files:after {
        pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50px;
        right: 0;
        height: 56px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .color input {
        background-color: #f1f1f1;
    }

    .files:before {
        position: absolute;
        bottom: 10px;
        left: 0;
        pointer-events: none;
        width: 100%;
        right: 0;
        height: 57px;
        content: " or drag it here. ";
        display: block;
        margin: 0 auto;
        color: #2ea591;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }
</style>
{% endblock %}

{% block script %}
<script>
    $('.fileMenu').addClass('active');

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %})